Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Drop the deprecated license classifier
  pyproject.toml
  setup.py
Due: none

Add a tuple read format for Map columns
  CHANGELOG.md
  clickhouse_connect/datatypes/container.py
  tests/unit_tests/test_chtypes.py
Due: pylint-clickhouse-connect, pylint-tests

centralize ClickHouse type argument metadata
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/datatypes/registry.py
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/string.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/datatypes/vector.py
  tests/unit_tests/test_chtypes.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

Reuse decimal bounds
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
Due: pylint-clickhouse-connect

fix: add explicit source build modes for the C extensions
  CHANGELOG.md
  docs/index.mdx
  setup.py
  tests/test_setup.py
Due: pylint-tests

centralize ClickHouse type argument metadata (#1006)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/datatypes/registry.py
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/string.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/datatypes/vector.py
  tests/unit_tests/test_chtypes.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

fix Alembic aggregate function rendering
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

fix Alembic aggregate function rendering (#1007)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

finalize source build modes
  .github/workflows/publish.yml
  CHANGELOG.md
  docs/index.mdx
  setup.py
  tests/test_setup.py
Due: pylint-tests

address copilot review comment
  setup.py
Due: none

fix: require explicit pure-Python source builds (#995)
  .github/workflows/publish.yml
  CHANGELOG.md
  docs/index.mdx
  setup.py
Due: none

Correct the format_uri_host docstring
  clickhouse_connect/driver/common.py
Due: pylint-clickhouse-connect

fix: guard parse_columns against phantom empty column for Tuple() (#971)
  clickhouse_connect/driver/parser.py
  tests/unit_tests/test_chtypes.py
Due: pylint-clickhouse-connect, pylint-tests

fix empty Tuple parsing and serialization
  CHANGELOG.md
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/registry.py
  clickhouse_connect/driver/parser.py
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  tests/integration_tests/test_native.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_native_read.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

update sqa docs
  docs/sqlalchemy.mdx
Due: none

Document empty Tuple Native marker
  clickhouse_connect/datatypes/container.py
Due: pylint-clickhouse-connect

fix empty Tuple parsing and serialization (#1010)
  CHANGELOG.md
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/registry.py
  clickhouse_connect/driver/parser.py
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_native.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_native_read.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

Bracket IPv6 hosts when building the connection URI (#1002)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

release prep for 1.8.0rc3
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Fix DB-API exception hierarchy
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/dbapi/__init__.py
  clickhouse_connect/dbapi/cursor.py
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/transform.py
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_client.py
  tests/integration_tests/test_mid_stream_exception.py
  tests/integration_tests/test_sqlalchemy/test_basics.py
  tests/unit_tests/test_driver/test_buffer.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_dbapi_exceptions.py
Due: pylint-clickhouse-connect, pylint-tests

Fix async client connection option parsing
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/asyncclient.py
  docs/driver-api.mdx
  tests/type_check/consumer_smoke.py
  tests/unit_tests/test_driver/test_async_client_factory.py
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-clickhouse-connect, pylint-tests

ci: refresh ClickHouse server version matrix (drop 25.8 + 26.5, add 26.8)
  .github/workflows/on_push.yml
Due: none

ci: refresh ClickHouse server version matrix (drop 25.8 + 26.5, add 26.8) (#1011)
  .github/workflows/on_push.yml
Due: none

Fix async client initialization cleanup
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/asyncclient.py
  tests/unit_tests/test_driver/test_async_client_initialization.py
Due: pylint-clickhouse-connect, pylint-tests

Fix async query cancellation cleanup
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/streaming.py
  tests/unit_tests/test_driver/test_async_client_query_cleanup.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

fix dbapi executemany insert routing
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  tests/integration_tests/test_dbapi.py
  tests/integration_tests/test_sqlalchemy/test_inserts.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_native_insert.py
  tests/unit_tests/test_sqlalchemy/test_query_settings.py
Due: pylint-clickhouse-connect, pylint-tests

Document executemany insert routing
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
Due: none

fix executemany percent handling and rowcount
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  tests/integration_tests/test_sqlalchemy/test_inserts.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_native_insert.py
Due: pylint-clickhouse-connect, pylint-tests

Fix async insert cancellation cleanup
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/streaming.py
  tests/unit_tests/test_driver/test_async_client_insert_cleanup.py
  tests/unit_tests/test_driver/test_async_client_query_cleanup.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

fix cloud executemany test
  tests/integration_tests/test_sqlalchemy/test_inserts.py
Due: pylint-tests

Fix async insert error ownership
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/transform.py
  tests/unit_tests/test_driver/test_async_client_insert_cleanup.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Fix async client cancellation cleanup
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/asyncclient.py
  tests/unit_tests/test_driver/test_async_client_close_cleanup.py
  tests/unit_tests/test_driver/test_async_client_initialization.py
Due: pylint-clickhouse-connect, pylint-tests

Fix async rotation cancellation ownership
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  tests/unit_tests/test_driver/test_async_client_close_cleanup.py
Due: pylint-clickhouse-connect, pylint-tests

Isolate concurrent async close cancellation
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  tests/unit_tests/test_driver/test_async_client_close_cleanup.py
Due: pylint-clickhouse-connect, pylint-tests

Add async SQLAlchemy dialect
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/asyncio.py
  docs/sqlalchemy.mdx
  setup.py
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/test_requirements.txt
  tests/type_check/consumer_smoke.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect_version.py
Due: pylint-clickhouse-connect, pylint-tests

add MultiPoint and Geometry support for ClickHouse 26.8
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/geometric.py
  clickhouse_connect/datatypes/postinit.py
  clickhouse_connect/driver/rustcodec.py
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  docs/sqlalchemy.mdx
  rust/COMPLETENESS.md
  rust/Cargo.lock
  rust/README.md
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/src/insert/containers.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/variant.rs
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/tests/helpers.py
  rust/ch-core-py/tests/test_containers.py
  setup.py
  tests/integration_tests/conftest.py
  tests/integration_tests/test_geometric.py
  tests/integration_tests/test_rust_codec.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_driver/test_native_read.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

add MultiPoint and Geometry support for ClickHouse 26.8 (#1018)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/geometric.py
  clickhouse_connect/datatypes/postinit.py
  clickhouse_connect/driver/rustcodec.py
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  docs/sqlalchemy.mdx
  rust/COMPLETENESS.md
  rust/Cargo.lock
  rust/README.md
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/src/insert/containers.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/variant.rs
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/tests/helpers.py
  rust/ch-core-py/tests/test_containers.py
  setup.py
  tests/integration_tests/conftest.py
  tests/integration_tests/test_geometric.py
  tests/integration_tests/test_rust_codec.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_driver/test_native_read.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

Harden async SQLAlchemy connection setup
  clickhouse_connect/cc_sqlalchemy/asyncio.py
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect_version.py
Due: pylint-clickhouse-connect, pylint-tests

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
