Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

linting
  clickhouse_connect/driver/aiohttp_client.py
Due: pylint-clickhouse-connect

more linting
  tests/integration_tests/test_timezones.py
Due: pylint-tests

simple ddl support for a few new engine types (#690)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

consolidate readme
  CHANGELOG.md
Due: none

address PR comments
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
Due: pylint-clickhouse-connect

SQLAlchemy core improvements (#688)
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_array_join.py
  tests/integration_tests/test_sqlalchemy/test_select.py
  tests/integration_tests/test_sqlalchemy/test_values.py
  tests/unit_tests/test_sqlalchemy/test_array_join.py
  tests/unit_tests/test_sqlalchemy/test_ch_join.py
  tests/unit_tests/test_sqlalchemy/test_values.py
Due: pylint-clickhouse-connect, pylint-tests

implement lazy loading of heavy optional deps (#689)
  CHANGELOG.md
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/datatypes/string.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/datatypes/vector.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/ctypes.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/npconv.py
  clickhouse_connect/driver/npquery.py
  clickhouse_connect/driver/options.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_arrow.py
  tests/integration_tests/test_async_client.py
  tests/integration_tests/test_external_data.py
  tests/integration_tests/test_numpy.py
  tests/integration_tests/test_pandas.py
  tests/integration_tests/test_pandas_compat.py
  tests/integration_tests/test_polars.py
  tests/unit_tests/test_qbit_type.py
Due: pylint-clickhouse-connect, pylint-tests

remove pytyped
  CHANGELOG.md
  clickhouse_connect/py.typed
Due: none

remove reference to old VERSION file
  setup.py
Due: none

readme correctness updates and clarifications
  README.md
Due: none

Joe/remove pytyped and other small cleanup issues (#693)
  CHANGELOG.md
  README.md
  clickhouse_connect/py.typed
  setup.py
Due: none

0.15.0 release prep
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

0.15.0 release prep (#694)
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

deprecate legacy async client and replace with async native
  README.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/aiohttp_client.py
  clickhouse_connect/driver/asyncclient.py
  examples/run_async.py
  tests/integration_tests/conftest.py
  tests/integration_tests/test_async_client.py
Due: pylint-clickhouse-connect, pylint-tests

update changelog
  CHANGELOG.md
Due: none

remove 1.0.0 note in changelog
  CHANGELOG.md
Due: none

Remove deprecated `utc_tz_aware` parameter (#669)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_timezones.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

drop pandas 1.x support, add pandas 3.x support
  .github/workflows/on_push.yml
  CHANGELOG.md
  README.md
  clickhouse_connect/common.py
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/string.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/npquery.py
  clickhouse_connect/driver/options.py
  clickhouse_connect/driver/query.py
  setup.py
  tests/integration_tests/test_async_features.py
  tests/integration_tests/test_pandas.py
  tests/integration_tests/test_pandas_compat.py
  tests/test_requirements.txt
  tests/unit_tests/test_pandas.py
Due: pylint-clickhouse-connect, pylint-tests

adjust for pandas 3
  clickhouse_connect/driver/insert.py
  tests/integration_tests/test_pandas.py
Due: pylint-clickhouse-connect, pylint-tests

don't broaden test errors
  tests/integration_tests/test_pandas.py
Due: pylint-tests

fix slight performance regression, remove unnecessary workaround
  clickhouse_connect/driver/insert.py
Due: pylint-clickhouse-connect

linting
  clickhouse_connect/driver/insert.py
Due: pylint-clickhouse-connect

more linting
  clickhouse_connect/driver/insert.py
Due: pylint-clickhouse-connect

drop pandas 1.x support, add pandas 3.x compatibility (#698)
  .github/workflows/on_push.yml
  CHANGELOG.md
  README.md
  clickhouse_connect/common.py
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/string.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/npquery.py
  clickhouse_connect/driver/options.py
  clickhouse_connect/driver/query.py
  setup.py
  tests/integration_tests/test_async_features.py
  tests/integration_tests/test_pandas.py
  tests/integration_tests/test_pandas_compat.py
  tests/test_requirements.txt
  tests/unit_tests/test_pandas.py
Due: pylint-clickhouse-connect, pylint-tests

respect bind param tz type hints, bf release 0.15.1 prep
  CHANGELOG.md
  clickhouse_connect/__version__.py
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

respect bind param tz type hints, bf release 0.15.1 prep (#699)
  CHANGELOG.md
  clickhouse_connect/__version__.py
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

deprecate python 3.9
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
  clickhouse_connect/__init__.py
  pyproject.toml
  setup.py
Due: pylint-clickhouse-connect

reinstate pypy-eol flag for 3.10 builds
  .github/workflows/publish.yml
Due: none

drop python 3.9 (#701)
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
  clickhouse_connect/__init__.py
  pyproject.toml
  setup.py
Due: pylint-clickhouse-connect

migrate from pylint to ruff
  .git-blame-ignore-revs
  .github/workflows/on_push.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  pylintrc
  pyproject.toml
  tests/test_requirements.txt
Due: none

add formatting commit
  .git-blame-ignore-revs
Due: none

fix: accept **kwargs in Bool.__init__ for SQLAlchemy type compatibility
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
Due: pylint-clickhouse-connect

fix: support Fixed/UTC timezone format in DateTime and DateTime64
  clickhouse_connect/datatypes/temporal.py
Due: pylint-clickhouse-connect

Fix: Wrap SQL strings with text() for SQLAlchemy 2.x compatibility
  CONTRIBUTING.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
Due: pylint-clickhouse-connect

add tests
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-tests

tweaks
  CONTRIBUTING.md
Due: none
