Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

fix async streaming race
  CHANGELOG.md
  clickhouse_connect/driver/asyncqueue.py
  tests/unit_tests/test_asyncqueue.py
Due: pylint-clickhouse-connect, pylint-tests

make test less potentially flaky
  tests/unit_tests/test_asyncqueue.py
Due: pylint-tests

fix async streaming race (#708)
  CHANGELOG.md
  clickhouse_connect/driver/asyncqueue.py
  tests/unit_tests/test_asyncqueue.py
Due: pylint-clickhouse-connect, pylint-tests

chore: add CHANGELOG entry for Bool kwargs fix
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
Due: pylint-clickhouse-connect

release prep
  CHANGELOG.md
  clickhouse_connect/__version__.py
  setup.py
Due: pylint-clickhouse-connect

optimize DateTime deserialization with epoch seconds arithmetic
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/tzutil.py
  clickhouse_connect/driverc/dataconv.pyx
  tests/unit_tests/test_driver/test_epoch_arithmetic.py
Due: pylint-clickhouse-connect, pylint-tests

add UTC-equivalent timezone fast path and cython dt64 loop optimization
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driver/tzutil.py
  clickhouse_connect/driverc/dataconv.pyx
Due: pylint-clickhouse-connect

move dt64 naive utc path into cython
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driverc/dataconv.pyx
Due: pylint-clickhouse-connect

fix DateTime cython bugs and expand test coverage
  clickhouse_connect/driver/tzutil.py
  clickhouse_connect/driverc/dataconv.pyx
  tests/unit_tests/test_driver/test_epoch_arithmetic.py
Due: pylint-clickhouse-connect, pylint-tests

optimize string deserialization fast paths
  clickhouse_connect/driverc/buffer.pyx
Due: none

don't use deprecated utcfromtimestamp
  tests/unit_tests/test_driver/test_epoch_arithmetic.py
Due: pylint-tests

improve map performance
  clickhouse_connect/datatypes/container.py
Due: pylint-clickhouse-connect

improve array performance
  clickhouse_connect/datatypes/container.py
Due: pylint-clickhouse-connect

insert perf improvements for numeric fixed-width types
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driverc/dataconv.pyx
Due: pylint-clickhouse-connect

improve map write performance
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driverc/dataconv.pyx
Due: pylint-clickhouse-connect

fix: support Fixed/UTC±HH:MM:SS timezone format in DateTime and DateTime64
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/tzutil.py
  tests/unit_tests/test_chtypes.py
Due: pylint-clickhouse-connect, pylint-tests

chore: add CHANGELOG entry for Fixed/UTC timezone fix
  CHANGELOG.md
Due: none

fix type regression
  clickhouse_connect/driverc/dataconv.pyx
Due: none

use append
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/driver/dataconv.py
Due: pylint-clickhouse-connect

update changelog
  CHANGELOG.md
Due: none

comment cleanup
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driver/tzutil.py
  clickhouse_connect/driverc/buffer.pyx
  clickhouse_connect/driverc/dataconv.pyx
Due: pylint-clickhouse-connect

formatting
  tests/unit_tests/test_driver/test_epoch_arithmetic.py
Due: pylint-tests

fix flaky math
  clickhouse_connect/driver/tzutil.py
Due: pylint-clickhouse-connect

use c-api datetime construction
  CHANGELOG.md
  clickhouse_connect/driverc/dataconv.pyx
Due: none

fix: tighten regex, fix quote style and correct changelog error description
  CHANGELOG.md
  clickhouse_connect/driver/tzutil.py
  tests/unit_tests/test_chtypes.py
Due: pylint-clickhouse-connect, pylint-tests

formatting
  CHANGELOG.md
Due: none

Fix: Wrap SQL strings with text() for SQLAlchemy 2.x compatibility (#704)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-clickhouse-connect, pylint-tests

fix(security): 2 improvements across 2 files
  clickhouse_connect/cc_sqlalchemy/inspector.py
Due: pylint-clickhouse-connect

fix(security): 2 improvements across 2 files
  clickhouse_connect/cc_sqlalchemy/ddl/custom.py
Due: pylint-clickhouse-connect

fix shared variant ordering bug
  CHANGELOG.md
  clickhouse_connect/datatypes/dynamic.py
  tests/integration_tests/test_dynamic.py
  tests/unit_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

add agent helpers
  .agents/architecture.md
  .agents/review.md
  AGENTS.md
  CLAUDE.md
Due: none

add agent helpers (#719)
  .agents/architecture.md
  .agents/review.md
  AGENTS.md
  CLAUDE.md
Due: none

fix shared variant ordering bug (#718)
  CHANGELOG.md
  clickhouse_connect/datatypes/dynamic.py
  tests/integration_tests/test_dynamic.py
  tests/unit_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

Create cross-repo-bug-relay.yml
  .github/workflows/cross-repo-bug-relay.yml
Due: none

some consistency updates
  .github/workflows/on_push.yml
  CHANGELOG.md
  Dockerfile
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/tzutil.py
  clickhouse_connect/tools/datagen.py
  setup.py
  tests/conftest.py
  tests/helpers.py
  tests/integration_tests/test_params.py
  tests/integration_tests/test_timezones.py
  tests/test_requirements.txt
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

addressing review comments
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/tzutil.py
  tests/integration_tests/test_timezones.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

don't mutate callers column_tzs
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

minor tweaks
  CHANGELOG.md
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/tzutil.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

fix: address review feedback — The missing `)` here exists on main, and is indeed a needed
  clickhouse_connect/cc_sqlalchemy/ddl/custom.py
Due: pylint-clickhouse-connect
