Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

add windows arm64 wheel builds (#787)
  .github/workflows/publish.yml
  CHANGELOG.md
Due: none

expose ClickHouse error code and name on raised exceptions
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_exceptions.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

auto-promote large query parameters to form body
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_form_encode_query.py
  tests/unit_tests/test_driver/test_binding.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

address test nit
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-tests

address pr review comments
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_binding.py
Due: pylint-clickhouse-connect, pylint-tests

rust core binding poc checkpoint
  rust/Cargo.lock
  rust/Cargo.toml
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/pyproject.toml
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/tests/test_bindings.py
Due: none

add type hint
  clickhouse_connect/driver/binding.py
Due: pylint-clickhouse-connect

auto-promote large query parameters to form body (#789)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_form_encode_query.py
  tests/unit_tests/test_driver/test_binding.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Trigger docs check on workflow changes; add trailing newline
  .github/workflows/docs_verify.yml
Due: none

fix uuid and ip address bind parameters rendering unquoted inside containers
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix uuid and ip address bind parameters rendering unquoted inside containers (#792)
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix _64 param-name suffix stripping when the full name is a query placeholder
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix _64 param-name suffix stripping when the full name is a query placeholder (#793)
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix docs links for the new Mintlify site layout
  docs/advanced-querying.mdx
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  docs/index.mdx
Due: none

expose ClickHouse error code and name on raised exceptions (#788)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_exceptions.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

fix dbapi executemany crashing on sequence rows
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_dbapi.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

align dbapi integration test fixture with cloud test settings
  tests/integration_tests/test_dbapi.py
Due: pylint-tests

Fix dbapi Cursor.executemany crashing on sequence rows (#795)
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_dbapi.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

1.3.0 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

1.3.0 release prep (#796)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

rust core binding POC
  .gitignore
  rust/BINDING_ARCHITECTURE.md
  rust/README.md
  rust/RESULTS.md
  rust/bench_native_decode_strict.py
  rust/bench_query_e2e.py
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/tests/test_bindings.py
  rust/e2e_query_check.py
  rust/results_decode_isolated.txt
  rust/results_query_e2e.txt
  rust/rust_client.py
  rust/streaming_demo.py
  rust/temporal_e2e_check.py
Due: none

declare free-threading compatibility for the Cython extensions, test 3.14t
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/driverc/buffer.pyx
  clickhouse_connect/driverc/dataconv.pyx
  clickhouse_connect/driverc/npconv.pyx
  pyproject.toml
  tests/test_requirements.txt
  tests/unit_tests/test_freethreading.py
Due: pylint-tests

update test matrix server vers
  .github/workflows/on_push.yml
Due: none

exclude polars from 3.14t test
  .github/workflows/on_push.yml
Due: none

Make safe for free threaded declaration (#798)
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/driverc/buffer.pyx
  clickhouse_connect/driverc/dataconv.pyx
  clickhouse_connect/driverc/npconv.pyx
  pyproject.toml
  tests/test_requirements.txt
  tests/unit_tests/test_freethreading.py
Due: pylint-tests

add mypy to CI with a per-module baseline for issue #692
  .github/workflows/on_push.yml
  pyproject.toml
  tests/test_requirements.txt
Due: none

add mypy to CI with a per-module baseline for issue #692 (#799)
  .github/workflows/on_push.yml
  pyproject.toml
  tests/test_requirements.txt
Due: none

refactor(dbapi): add type annotations to pass mypy (part of #692)
  clickhouse_connect/dbapi/__init__.py
  clickhouse_connect/dbapi/connection.py
  clickhouse_connect/dbapi/cursor.py
  pyproject.toml
Due: pylint-clickhouse-connect

refactor(dbapi): simplify None-default assignments with 'or'
  clickhouse_connect/dbapi/connection.py
Due: pylint-clickhouse-connect

fix(dbapi): drop redundant '| None' from fetchone return type
  clickhouse_connect/dbapi/cursor.py
Due: pylint-clickhouse-connect

fix(dbapi): address Copilot review feedback
  clickhouse_connect/dbapi/__init__.py
  clickhouse_connect/dbapi/connection.py
  clickhouse_connect/dbapi/cursor.py
Due: pylint-clickhouse-connect

refactor: add annotation to the *previous* port default management
  clickhouse_connect/dbapi/__init__.py
Due: pylint-clickhouse-connect

fix(dbapi): address second round of Copilot review feedback
  clickhouse_connect/dbapi/cursor.py
Due: pylint-clickhouse-connect

fix(dbapi): normalize mapping keys to 'str' in bulk insert column comparison
  clickhouse_connect/dbapi/cursor.py
Due: pylint-clickhouse-connect

Add more test writing instructions to AGENTS.md (#780)
  AGENTS.md
Due: none

test(dbapi): cover bulk insert rowcount, summary, and generator fallback
  CHANGELOG.md
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-tests

Always raise exception on read error
  clickhouse_connect/driver/httputil.py
Due: pylint-clickhouse-connect

Updated testa and changelog
  CHANGELOG.md
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-tests

Update stale comment
  clickhouse_connect/driver/httputil.py
Due: pylint-clickhouse-connect

Potential fix for pull request finding
  CHANGELOG.md
Due: none
