Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

Bugfix: InsertContext data not reset on insert failure (#618)
  CHANGELOG.md
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_contexts.py
Due: pylint-clickhouse-connect, pylint-tests

update async client to always reset context
  clickhouse_connect/driver/aiohttp_client.py
  tests/integration_tests/test_contexts.py
Due: pylint-clickhouse-connect, pylint-tests

Address type errors in AsyncClient.close (#611)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  tests/unit_tests/test_driver/test_network.py
Due: pylint-clickhouse-connect, pylint-tests

fix: handle Etc/UTC timezone equivalence for naive datetime conversion
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/tzutil.py
  tests/integration_tests/test_polars.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

sqa dict and alembic work
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
Due: pylint-clickhouse-connect

raise operationalerror when hitting network failure prior to receiving data in responsesource
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-clickhouse-connect, pylint-tests

add pipelining to arrow methods
  clickhouse_connect/driver/aiohttp_client.py
Due: pylint-clickhouse-connect

restrict pandas 3
  setup.py
Due: none

support for new mid stream exceptions
  CHANGELOG.md
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/transform.py
  tests/integration_tests/test_mid_stream_exception.py
Due: pylint-clickhouse-connect, pylint-tests

update test matrix
  .github/workflows/on_push.yml
Due: none

force seq consistency in sqla tests
  tests/integration_tests/test_sqlalchemy/conftest.py
Due: pylint-tests

set ddl task to async mode
  tests/integration_tests/test_sqlalchemy/conftest.py
Due: pylint-tests

scope async ddl to just affected test
  tests/integration_tests/test_sqlalchemy/conftest.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
Due: pylint-tests

revert dist ddl task timeout in test
  tests/integration_tests/test_sqlalchemy/test_ddl.py
Due: pylint-tests

restrict pandas 3 (#625)
  setup.py
Due: none

update test matrix (#627)
  .github/workflows/on_push.yml
Due: none

soft deprecation of python3.9
  CHANGELOG.md
  clickhouse_connect/__init__.py
Due: pylint-clickhouse-connect

update wording
  CHANGELOG.md
Due: none

ensure utc-equivalent timezones are recognized
  CHANGELOG.md
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/tzutil.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

add sel seq consistency for cloud ccsqa tests
  tests/integration_tests/test_sqlalchemy/conftest.py
Due: pylint-tests

ddl out to only active mode
  tests/integration_tests/conftest.py
Due: pylint-tests

prevent building numpy from source in test
  tests/test_requirements.txt
Due: none

try ddl output mode only active
  tests/integration_tests/conftest.py
Due: pylint-tests

skip jwt test temporarily
  tests/integration_tests/test_jwt_auth.py
Due: pylint-tests

revert ddl command
  tests/integration_tests/conftest.py
Due: pylint-tests

prevent running unnecessary double tests
  .github/workflows/on_push.yml
Due: none

Misc. test workflow cleanup/improvements (#631)
  .github/workflows/on_push.yml
  tests/integration_tests/test_jwt_auth.py
  tests/test_requirements.txt
Due: pylint-tests

Joe/610 drop python39 support (#628)
  CHANGELOG.md
  clickhouse_connect/__init__.py
Due: pylint-clickhouse-connect

revert consistency param in ccsqa test setup
  tests/integration_tests/test_sqlalchemy/conftest.py
Due: pylint-tests

revert ddl mode change in conftest
  tests/integration_tests/conftest.py
Due: pylint-tests

ensure utc-equivalent timezones are recognized (#630)
  CHANGELOG.md
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/tzutil.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

docs: clarify utc_tz_aware behavior in Arrow timezone stripping
  clickhouse_connect/driver/client.py
Due: pylint-clickhouse-connect

fix: correct import order in test_query.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-tests

update tests
  tests/integration_tests/test_mid_stream_exception.py
Due: pylint-tests

formatting, add units tests
  clickhouse_connect/driver/transform.py
  tests/integration_tests/test_mid_stream_exception.py
  tests/unit_tests/test_driver/test_exception_extraction.py
Due: pylint-clickhouse-connect, pylint-tests

fix: failing test because of data type
  tests/integration_tests/test_polars.py
Due: pylint-tests

remove excessive test
  tests/integration_tests/test_mid_stream_exception.py
Due: pylint-tests

don't skip if settings match
  clickhouse_connect/driver/client.py
Due: pylint-clickhouse-connect

changelog update
  CHANGELOG.md
Due: none
