Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

Avoid re-copying the StreamingFileAdapter residual on every read
  CHANGELOG.md
  clickhouse_connect/driver/streaming.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Type StreamingFileAdapter.buffer and .pos for the public API ratchet
  clickhouse_connect/driver/streaming.py
Due: pylint-clickhouse-connect

fix: detect in-band server exceptions on Arrow streaming query paths
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/streaming.py
  tests/integration_tests/test_arrow.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Fix native in-band exception scan: match the CRLF between __exception__ and the tag
  CHANGELOG.md
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/transform.py
  clickhouse_connect/driverc/buffer.pyx
  tests/helpers.py
  tests/unit_tests/test_driver/test_buffer.py
  tests/unit_tests/test_driver/test_exception_extraction.py
Due: pylint-clickhouse-connect, pylint-tests

Annotate new streaming public API for the type-completeness ratchet
  clickhouse_connect/driver/streaming.py
Due: pylint-clickhouse-connect

perf(chdb): avoid re-copying the raw_stream residual on every read
  CHANGELOG.md
  clickhouse_connect/driver/_backend/chdb_backend.py
  tests/unit_tests/test_driver/test_chdb.py
Due: pylint-clickhouse-connect, pylint-tests

fix: detect untagged in-band Arrow exceptions on pre-v25.11 servers
  clickhouse_connect/driver/streaming.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

ci: mark CHANGELOG.md with merge=union to auto-resolve changelog conflicts
  .gitattributes
Due: none

fix: protect SQLAlchemy reflection from String bytes format
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_sqlalchemy/test_query_formats.py
Due: pylint-clickhouse-connect, pylint-tests

fix(dbapi): add PEP 249 Binary and bind Time as seconds
  CHANGELOG.md
  clickhouse_connect/dbapi/__init__.py
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_dbapi_types.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

Fix native in-band exception scan: match the CRLF between __exception__ and the tag (#916)
  CHANGELOG.md
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/transform.py
  clickhouse_connect/driverc/buffer.pyx
  tests/helpers.py
  tests/unit_tests/test_driver/test_buffer.py
  tests/unit_tests/test_driver/test_exception_extraction.py
Due: pylint-clickhouse-connect, pylint-tests

Fix binding: strip the query-final semicolon with a linear scan before appending FORMAT
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_binding.py
Due: pylint-clickhouse-connect, pylint-tests

Fix query type detection: scan comments with the server lexer rules
  CHANGELOG.md
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

fix dbapi cursor description handling
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_dbapi.py
  tests/integration_tests/test_sqlalchemy/test_basics.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

update docs
  docs/driver-api.mdx
Due: none

Fix query type detection: a removed comment must still separate tokens
  CHANGELOG.md
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

fix dbapi cursor description handling (#927)
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  tests/integration_tests/test_dbapi.py
  tests/integration_tests/test_sqlalchemy/test_basics.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

Fix DB-API bulk insert table name parsing
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  clickhouse_connect/driver/parser.py
  tests/integration_tests/test_dbapi.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

Fix DB-API executemany bulk insert statement parsing
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  clickhouse_connect/driver/common.py
  tests/integration_tests/test_dbapi.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

fix: rebase SQLAlchemy internal formats onto current main
  clickhouse_connect/cc_sqlalchemy/dialect.py
Due: pylint-clickhouse-connect

fix: protect SQLAlchemy metadata query formats
  clickhouse_connect/cc_sqlalchemy/inspector.py
Due: pylint-clickhouse-connect

fix: thread query formats through DB-API cursor
  clickhouse_connect/dbapi/cursor.py
Due: pylint-clickhouse-connect

test: cover SQLAlchemy reflection with String bytes format
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-tests

test: cover SQLAlchemy query format propagation
  tests/unit_tests/test_sqlalchemy/test_query_formats.py
Due: pylint-tests

Decode compound values stored in JSON shared data
  clickhouse_connect/datatypes/binary_value.py
  clickhouse_connect/datatypes/dynamic.py
  tests/integration_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

Use param_client/call fixtures in shared data tests
  tests/integration_tests/test_dynamic.py
Due: pylint-tests

Gate compound decoding to JSON shared data only
  clickhouse_connect/datatypes/dynamic.py
Due: pylint-clickhouse-connect

Make binary_value decoder module-private and annotate for type checks
  clickhouse_connect/datatypes/binary_value.py
Due: pylint-clickhouse-connect

harden JSON shared data binary decode
  CHANGELOG.md
  clickhouse_connect/datatypes/binary_value.py
  tests/integration_tests/test_dynamic.py
  tests/unit_tests/test_binary_value.py
Due: pylint-clickhouse-connect, pylint-tests

Add show_clickhouse_errors="scrub" to hide host and version
  CHANGELOG.md
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/_chdbclient.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/httpclient.py
  docs/driver-api.mdx
  tests/unit_tests/test_driver/test_exceptions.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

harden naive datetime wall-time binding
  CHANGELOG.md
  clickhouse_connect/common.py
  clickhouse_connect/driver/binding.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_params.py
  tests/integration_tests/test_timezones.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_driver/test_settings.py
Due: pylint-clickhouse-connect, pylint-tests

formatting
  tests/integration_tests/test_params.py
Due: pylint-tests

update changelog
  CHANGELOG.md
Due: none

Simplify scrub option handling
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/_chdbclient.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_driver/test_exceptions.py
Due: pylint-clickhouse-connect, pylint-tests

fix: do not shift naive datetime query parameters by the host timezone (#901)
  CHANGELOG.md
  clickhouse_connect/common.py
  clickhouse_connect/driver/binding.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_params.py
  tests/integration_tests/test_timezones.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_driver/test_settings.py
Due: pylint-clickhouse-connect, pylint-tests

fix naive datetime insert semantics
  CHANGELOG.md
  clickhouse_connect/common.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/_backend/orchestration.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/insert.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_driver/test_datetime_insert.py
Due: pylint-clickhouse-connect, pylint-tests

Joe/938 unify timezone naive datetime insert and query parameter semantics (#939)
  CHANGELOG.md
  clickhouse_connect/common.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/_backend/orchestration.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/insert.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_driver/test_datetime_insert.py
Due: pylint-clickhouse-connect, pylint-tests

reject recursive materialized CTEs, gate Values.cte on capability
  .github/workflows/on_push.yml
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_materialized_cte.py
  tests/integration_tests/test_sqlalchemy/test_values.py
  tests/unit_tests/test_sqlalchemy/test_materialized_cte.py
  tests/unit_tests/test_sqlalchemy/test_values.py
Due: pylint-clickhouse-connect, pylint-tests

Decode compound values stored in JSON shared data (#898)
  CHANGELOG.md
  clickhouse_connect/datatypes/binary_value.py
  clickhouse_connect/datatypes/dynamic.py
  tests/integration_tests/test_dynamic.py
  tests/unit_tests/test_binary_value.py
Due: pylint-clickhouse-connect, pylint-tests
