Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

Use SPDX license identifier
  setup.py
Due: none

datetime64 utc read path improvement
  clickhouse_connect/driverc/dataconv.pyx
Due: none

fix alembic enum render for autogen migrations
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

Use SPDX license identifier (#727)
  setup.py
Due: none

use bound params and format_str in DDL/inspector
  clickhouse_connect/cc_sqlalchemy/ddl/custom.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  tests/unit_tests/test_sqlalchemy/test_create_database.py
Due: pylint-clickhouse-connect, pylint-tests

update changelog
  CHANGELOG.md
Due: none

formatting
  clickhouse_connect/cc_sqlalchemy/ddl/custom.py
Due: pylint-clickhouse-connect

use bound params and format_str in DDL/inspector (#728)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/ddl/custom.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  tests/unit_tests/test_sqlalchemy/test_create_database.py
Due: pylint-clickhouse-connect, pylint-tests

Performance improvements (#710)
  CHANGELOG.md
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driver/tzutil.py
  clickhouse_connect/driverc/buffer.pyx
  clickhouse_connect/driverc/dataconv.pyx
  tests/unit_tests/test_driver/test_epoch_arithmetic.py
Due: pylint-clickhouse-connect, pylint-tests

1.0.0rc2 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

1.0.0rc2 release prep (#729)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

fix alembic enum render for nested container types
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

1.1.0a1 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

preserve CH select modifiers when compiling from ORM-mapped attributes
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/unit_tests/test_sqlalchemy/test_orm_modifiers.py
Due: pylint-clickhouse-connect, pylint-tests

1.1.0a2 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

rebuild body on connection-reset insert retry
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

wait for producer thread on async retry
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/streaming.py
Due: pylint-clickhouse-connect

rebuild body on connection-reset insert retry (#732)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/streaming.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

1.0.0rc3 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

1.0.0rc3 release prep (#733)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Reject unsupported LIKE/ILIKE escape clauses
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/unit_tests/test_sqlalchemy/test_ilike.py
Due: pylint-clickhouse-connect, pylint-tests

Add SQLAlchemy ILIKE compilation
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/unit_tests/test_sqlalchemy/test_ilike.py
Due: pylint-clickhouse-connect, pylint-tests

Add changelog entry for ILIKE rendering fix
  CHANGELOG.md
Due: none

1.0.0 release prep and migration guide
  CHANGELOG.md
  MIGRATION.md
  README.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

1.0.0 release prep and migration guide (#738)
  CHANGELOG.md
  MIGRATION.md
  README.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Fix SQLAlchemy ILIKE and NOT ILIKE rendering (#734)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/unit_tests/test_sqlalchemy/test_ilike.py
Due: pylint-clickhouse-connect, pylint-tests

fix ca_cert support in async client
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httputil.py
Due: pylint-clickhouse-connect

move like/ilike fix to correct changelog location
  CHANGELOG.md
Due: none

Joe/742 async client does not support ca certcertifi (#743)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httputil.py
Due: pylint-clickhouse-connect

drain in-flight requests before closing async session
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/streaming.py
  tests/integration_tests/test_async_features.py
Due: pylint-clickhouse-connect, pylint-tests

drain in-flight requests before closing async session (#745)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/streaming.py
  tests/integration_tests/test_async_features.py
Due: pylint-clickhouse-connect, pylint-tests

properly handle ClickHouse Fixed/UTC offset timezones
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/tzutil.py
  tests/unit_tests/test_chtypes.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

properly handle ClickHouse Fixed/UTC offset timezones (#746)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/tzutil.py
  tests/unit_tests/test_chtypes.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

release prep for 1.0.1
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

bump deprecated node 20 actions and refresh server test matrix
  .github/workflows/clickhouse_ci.yml
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
Due: none

bump deprecated node 20 actions and refresh server test matrix (#747)
  .github/workflows/clickhouse_ci.yml
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
Due: none

release prep for 1.0.1 (#748)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

fix unescaped inner quotes in pre-quoted identifiers
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_driver/test_binding.py
Due: pylint-clickhouse-connect, pylint-tests

reduce cloud tests to single python version
  .github/workflows/on_push.yml
Due: none

reduce cloud tests to single python version (#751)
  .github/workflows/on_push.yml
Due: none

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
