Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

fix(backend): address review feedback and CI
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/backend.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/registry.py
  tests/unit_tests/test_driver/test_backend_contract.py
Due: pylint-clickhouse-connect, pylint-tests

fix: remove deprecated 'u' array type code from buffer.pyx
  clickhouse_connect/driverc/buffer.pyx
Due: none

fix: remove deprecated 'u' array type code from buffer.pyx
  CHANGELOG.md
  clickhouse_connect/driverc/buffer.pyx
Due: none

refactor(backend): select backend by DSN scheme instead of backend= kwarg Generated with [Claude Code](https://claude.ai/code) via [Happy](https://happy.engineering)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  tests/unit_tests/test_driver/test_backend_contract.py
Due: pylint-clickhouse-connect, pylint-tests

fix(driver): unescape compound backtick identifiers
  clickhouse_connect/driver/common.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

remove u template
  CHANGELOG.md
  clickhouse_connect/driverc/buffer.pyx
Due: none

remove u template (#822)
  CHANGELOG.md
  clickhouse_connect/driverc/buffer.pyx
Due: none

make Nullable and LowCardinality functions returning ChSqlaType
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

fix(driver): interpret backtick escapes in unescape_identifier
  clickhouse_connect/driver/common.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

make Nullable and LowCardinality functions returning ChSqlaType (#823)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

Return None from first_item/first_row on empty result
  CHANGELOG.md
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_driver/test_native_read.py
Due: pylint-clickhouse-connect, pylint-tests

Return None from first_item/first_row on empty result (#826)
  CHANGELOG.md
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_driver/test_native_read.py
Due: pylint-clickhouse-connect, pylint-tests

v1.4.0 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

v1.4.0 release prep (#829)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

add chainable Select.ch_join() for ClickHouse join modifiers
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  tests/unit_tests/test_sqlalchemy/test_ch_join_chainable.py
Due: pylint-clickhouse-connect, pylint-tests

address Copilot review on ch_join chainable
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  tests/unit_tests/test_sqlalchemy/test_ch_join_chainable.py
Due: pylint-clickhouse-connect, pylint-tests

add return-type annotations to AsyncClient public methods
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
Due: pylint-clickhouse-connect

fix cc_sqlalchemy Alembic renderers corrupting non-ClickHouse autogenerate
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

address review comments
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

add return-type annotations to AsyncClient public methods (#834)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
Due: pylint-clickhouse-connect

fix cc_sqlalchemy Alembic renderers corrupting non-ClickHouse autogen… (#835)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

1.4.1 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

1.4.1 release prep (#836)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

update changelog
  CHANGELOG.md
Due: none

add chainable Select.ch_join() for join modifiers (#833)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  tests/unit_tests/test_sqlalchemy/test_ch_join_chainable.py
Due: pylint-clickhouse-connect, pylint-tests

add lowcardinality binding support
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/tests/test_bindings.py
Due: none

SQA expose chainable modifiers as typed methods
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  tests/unit_tests/test_sqlalchemy/test_ch_select.py
Due: pylint-clickhouse-connect, pylint-tests

reword docstring
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
Due: pylint-clickhouse-connect

add enum8/16 binding support
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/tests/test_bindings.py
Due: none

SQA expose chainable modifiers as typed methods (#840)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  tests/unit_tests/test_sqlalchemy/test_ch_select.py
Due: pylint-clickhouse-connect, pylint-tests

support per-query settings via execution_options
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_sqlalchemy/test_query_settings.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_query_settings.py
Due: pylint-clickhouse-connect, pylint-tests

support per-query settings via execution_options (#841)
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_sqlalchemy/test_query_settings.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_query_settings.py
Due: pylint-clickhouse-connect, pylint-tests

Update changelog for SQLAlchemy execution_options settings (#842)
  CHANGELOG.md
Due: none

add consumer-facing public API type checking to CI
  .github/workflows/on_push.yml
  MANIFEST.in
  scripts/check_public_types.py
  setup.py
  tests/type_check/consumer_smoke.py
Due: pylint-tests

update untyped count
  .github/workflows/on_push.yml
Due: none

Update .github/workflows/docs_verify.yml
  .github/workflows/docs_verify.yml
Due: none

add consumer-facing public API type checking to CI (#843)
  .github/workflows/on_push.yml
  MANIFEST.in
  scripts/check_public_types.py
  setup.py
  tests/type_check/consumer_smoke.py
Due: pylint-tests

fix sqlalchemy select typing after add_columns
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  tests/type_check/consumer_smoke.py
  tests/type_check/sqlalchemy_smoke.py
  tests/unit_tests/test_sqlalchemy/test_ch_select.py
Due: pylint-clickhouse-connect, pylint-tests

address consumer typing issues in ci
  .github/workflows/on_push.yml
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  tests/type_check/sqlalchemy_select_smoke.py
Due: pylint-clickhouse-connect, pylint-tests

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
