Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

extend feature to create tables from pyarrow objects to include datetime/time/timestamp types (#606)
  CHANGELOG.md
  clickhouse_connect/driver/ddl.py
  tests/integration_tests/test_pyarrow_ddl_integration.py
  tests/unit_tests/test_pyarrow_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

fix fragile test
  tests/unit_tests/test_driver/test_network.py
Due: pylint-tests

Add return type annotation to AsyncClient.close
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
Due: pylint-clickhouse-connect

replace partition_key with partition_by in MergeTree eng_params
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
Due: pylint-clickhouse-connect

replace partition_key with partition_by in MergeTree eng_params (#613)
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
Due: pylint-clickhouse-connect

add pylint exceptions
  pyproject.toml
Due: none

linting
  clickhouse_connect/driver/aiohttp_client.py
  clickhouse_connect/driver/streaming.py
  pyproject.toml
Due: pylint-clickhouse-connect

improve test config setup
  tests/integration_tests/conftest.py
  tests/integration_tests/test_arrow.py
  tests/integration_tests/test_async_features.py
  tests/integration_tests/test_form_encode_query.py
  tests/integration_tests/test_multithreading.py
Due: pylint-tests

fix some tests
  CHANGELOG.md
  tests/integration_tests/test_client.py
Due: pylint-tests

enable log tables on startup
  .docker/clickhouse/single_node/config.xml
  .docker/clickhouse/single_node_tls/config.xml
Due: none

improve error handling
  clickhouse_connect/driver/streaming.py
Due: pylint-clickhouse-connect

linting
  clickhouse_connect/driver/streaming.py
Due: pylint-clickhouse-connect

fix deprecation warning in aiohttp
  clickhouse_connect/driver/aiohttp_client.py
Due: pylint-clickhouse-connect

error handling
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/transform.py
Due: pylint-clickhouse-connect

separate sync/async stream failure tests
  tests/integration_tests/test_streaming.py
Due: pylint-tests

more error handling issues
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/transform.py
Due: pylint-clickhouse-connect

test updates and improvements
  tests/integration_tests/conftest.py
  tests/integration_tests/test_async_features.py
  tests/integration_tests/test_sqlalchemy/test_delete.py
  tests/test_requirements.txt
Due: pylint-tests

test adjustments
  tests/integration_tests/conftest.py
  tests/integration_tests/test_jwt_auth.py
Due: pylint-tests

increase async stream buffer size
  clickhouse_connect/driver/streaming.py
Due: pylint-clickhouse-connect

don't parallelize cloud tests
  .github/workflows/on_push.yml
Due: none

apply consistency settings to client factory fixture
  tests/integration_tests/conftest.py
Due: pylint-tests

up cloud par to 4
  .github/workflows/on_push.yml
Due: none

enforce sequential consistency in helper
  tests/integration_tests/conftest.py
Due: pylint-tests

update enable_cleanup_closed vers
  clickhouse_connect/driver/aiohttp_client.py
Due: pylint-clickhouse-connect

add conn abort to wrong port assertion
  tests/integration_tests/test_error_handling.py
Due: pylint-tests

small test refactor
  clickhouse_connect/driver/transform.py
  tests/integration_tests/test_streaming.py
Due: pylint-clickhouse-connect, pylint-tests

more consistency
  tests/integration_tests/test_sqlalchemy/conftest.py
Due: pylint-tests

add deadlock check in async queue
  clickhouse_connect/driver/aiohttp_client.py
  clickhouse_connect/driver/asyncqueue.py
  tests/integration_tests/test_native_fuzz.py
Due: pylint-clickhouse-connect, pylint-tests

enforce consistent use of async iter stream consumption
  clickhouse_connect/driver/aiohttp_client.py
  tests/integration_tests/test_pandas_compat.py
Due: pylint-clickhouse-connect, pylint-tests

linting
  tests/integration_tests/test_pandas_compat.py
Due: pylint-tests

DO materialize non-streaming queries
  clickhouse_connect/driver/aiohttp_client.py
  tests/integration_tests/test_arrow.py
  tests/integration_tests/test_pandas_compat.py
Due: pylint-clickhouse-connect, pylint-tests

add codeowners
  .github/CODEOWNERS
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

accept either concurrent session error
  tests/integration_tests/test_async_features.py
Due: pylint-tests

add codeowners (#619)
  .github/CODEOWNERS
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: resets insert context in all cases
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

chore: adds test case
  tests/integration_tests/test_contexts.py
Due: pylint-tests
