Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

Harden async SQLAlchemy lifecycle cleanup
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/asyncio.py
  clickhouse_connect/driver/_backend/contracts.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/asyncclient.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_driver/test_async_client_close_cleanup.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-clickhouse-connect, pylint-tests

Fix async pool disposal races
  clickhouse_connect/cc_sqlalchemy/asyncio.py
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-clickhouse-connect, pylint-tests

fix rust_strict SQLAlchemy metadata queries
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/dbapi/cursor.py
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_sqlalchemy/test_query_formats.py
Due: pylint-clickhouse-connect, pylint-tests

fix Rust streaming error scrubbing
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/transform.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

refresh ch-core-rs 0.2.0 lock
  rust/Cargo.lock
Due: none

document Rust codec compatibility
  CHANGELOG.md
  docs/rust-codec.mdx
Due: none

ensure Rust SQLAlchemy test cleanup
  tests/integration_tests/test_rust_codec.py
Due: pylint-tests

Fix async pool accounting across disposal
  clickhouse_connect/cc_sqlalchemy/asyncio.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-clickhouse-connect, pylint-tests

Add async SQLAlchemy health checks
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/asyncio.py
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-clickhouse-connect, pylint-tests

fix abandoned Rust stream cleanup
  CHANGELOG.md
  clickhouse_connect/driver/streaming.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Use SQLAlchemy standard async pre-ping
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/asyncio.py
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-clickhouse-connect, pylint-tests

offload abandoned async stream cleanup
  CHANGELOG.md
  clickhouse_connect/driver/streaming.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Harden async loop and session constraints
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  docs/advanced-usage.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_driver/test_async_client_initialization.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_token_provider.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-clickhouse-connect, pylint-tests

Resolve async loop and invalidation riders
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  docs/advanced-usage.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_driver/test_async_client_initialization.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-clickhouse-connect, pylint-tests

Close async test event loops
  clickhouse_connect/driver/_backend/http_async.py
  tests/unit_tests/test_driver/test_async_client_initialization.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-clickhouse-connect, pylint-tests

Verify async SQLAlchemy behavior parity
  CHANGELOG.md
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-tests

improve Rust codec evaluation guidance
  CHANGELOG.md
  clickhouse_connect/driver/rustcodec.py
  docs/index.mdx
  docs/rust-codec.mdx
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

clarify Rust codec experimental status
  docs/rust-codec.mdx
Due: none

fix Rust codec release blockers for 1.8.0 (#1019)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/dbapi/cursor.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/transform.py
  docs/index.mdx
  docs/rust-codec.mdx
  rust/Cargo.lock
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustcodec.py
  tests/unit_tests/test_sqlalchemy/test_query_formats.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Close async SQLAlchemy parity riders
  CHANGELOG.md
  docs/sqlalchemy.mdx
  tests/helpers.py
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/unit_tests/test_asyncqueue.py
  tests/unit_tests/test_backend_orchestration.py
  tests/unit_tests/test_driver/test_async_client_initialization.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_helpers.py
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Complete async SQLAlchemy product integration
  .github/workflows/on_push.yml
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  docs/index.mdx
  docs/sqlalchemy.mdx
  examples/alembic_async/env.py
  tests/integration_tests/test_sqlalchemy/test_async_alembic.py
  tests/type_check/consumer_smoke.py
  tests/type_check/installed_sqlalchemy_smoke.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_async_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

Refresh public type ratchet baseline
  .github/workflows/on_push.yml
Due: none

Make async pool test portable on Python 3.10
  tests/unit_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-tests

Make fixed-session integration test deterministic
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-tests

Clarify server-local session behavior
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
Due: pylint-tests

Polish async Alembic setup guidance
  README.md
  clickhouse_connect/cc_sqlalchemy/alembic/WORKED_EXAMPLE.md
  docs/sqlalchemy.mdx
  examples/alembic_async/env.py
  tests/unit_tests/test_sqlalchemy/test_async_alembic.py
Due: pylint-tests

Docs cleanup
  .agents/architecture.md
  .dockerignore
  DISTRIBUTION_PLAN.md
  Dockerfile
  docs/index.mdx
  examples/benchmark.py
  examples/clear_test_databases.py
  examples/read_perf.py
  examples/write_perf.py
  playtest.py
  rust/BINDING_ARCHITECTURE.md
  rust/COMPLETENESS.md
  rust/README.md
  rust/bench_native_decode_strict.py
  rust/bench_query_e2e.py
  rust/e2e_query_check.py
  rust/rust_client.py
  rust/streaming_demo.py
  rust/temporal_e2e_check.py
  test_dist/.gitignore
  test_dist/superset_config.py
  tests/timings.py
Due: pylint-tests

Fix TableEngine construction for alembic-rendered zero-arg engines and SummingMergeTree columns
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

Docs cleanup (#1020)
  .agents/architecture.md
  .dockerignore
  DISTRIBUTION_PLAN.md
  Dockerfile
  docs/index.mdx
  examples/benchmark.py
  examples/clear_test_databases.py
  examples/read_perf.py
  examples/write_perf.py
  playtest.py
  rust/BINDING_ARCHITECTURE.md
  rust/COMPLETENESS.md
  rust/README.md
  rust/bench_native_decode_strict.py
  rust/bench_query_e2e.py
  rust/e2e_query_check.py
  rust/rust_client.py
  rust/streaming_demo.py
  rust/temporal_e2e_check.py
  test_dist/.gitignore
  test_dist/superset_config.py
  tests/timings.py
Due: pylint-tests

Fix Rust SQLAlchemy exception expectation
  CHANGELOG.md
  tests/integration_tests/test_rust_codec.py
Due: pylint-tests

Wait for read-ahead thread after source close
  clickhouse_connect/driver/streaming.py
Due: pylint-clickhouse-connect

fix: reuse one PoolManager per process in child workers
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-clickhouse-connect, pylint-tests

Document async SQLAlchemy compatibility
  docs/index.mdx
Due: none

fix: retry aiohttp.ConnectionTimeoutError in async backend (#1012)
  clickhouse_connect/driver/_backend/http_async.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

fix: make process-local pool rollover fork-safe
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-clickhouse-connect, pylint-tests

test: wait for forked workers to exit
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-tests

fix(sqlalchemy): support explicit multi-row inserts (#1024)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_server_side_params.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix: reuse one PoolManager per process in child workers (#1021)
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-clickhouse-connect, pylint-tests
