Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

Fix query type detection: a removed comment must still separate tokens (#929)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy public type completeness CI
  .github/workflows/on_push.yml
Due: none

feat(sqlalchemy): support materialized CTEs (WITH ... AS MATERIALIZED) (#905)
  .github/workflows/on_push.yml
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_materialized_cte.py
  tests/integration_tests/test_sqlalchemy/test_values.py
  tests/type_check/sqlalchemy_select_smoke.py
  tests/unit_tests/test_sqlalchemy/test_materialized_cte.py
  tests/unit_tests/test_sqlalchemy/test_values.py
Due: pylint-clickhouse-connect, pylint-tests

add PEP 249 DB API constructors
  CHANGELOG.md
  clickhouse_connect/dbapi/__init__.py
  tests/unit_tests/test_driver/test_dbapi_types.py
Due: pylint-clickhouse-connect, pylint-tests

docs update
  docs/driver-api.mdx
Due: none

Close the async streaming response on the event loop thread
  CHANGELOG.md
  clickhouse_connect/driver/streaming.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Close the async streaming response on the event loop thread (#941)
  CHANGELOG.md
  clickhouse_connect/driver/streaming.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

add PEP 249 DB API constructors (#940)
  CHANGELOG.md
  clickhouse_connect/dbapi/__init__.py
  docs/driver-api.mdx
  tests/unit_tests/test_driver/test_dbapi_types.py
Due: pylint-clickhouse-connect, pylint-tests

fix: preserve SQLAlchemy internal query formats
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_query_formats.py
Due: pylint-clickhouse-connect, pylint-tests

docs: document SQLAlchemy query formats
  CHANGELOG.md
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
Due: none

fix: protect SQLAlchemy reflection from String bytes format (#935)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_query_formats.py
Due: pylint-clickhouse-connect, pylint-tests

extend show_clickhouse_errors scrub mode to transport and mid-stream errors
  CHANGELOG.md
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/_chdbclient.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/transform.py
  docs/advanced-querying.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_buffer.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_exceptions.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

add CI checks for docs needing update
  .claude/agents/docs-drift-reviewer.md
  .github/workflows/docs_drift_check.yml
  .gitignore
Due: none

fix gitignore
  .gitignore
Due: none

Add show_clickhouse_errors="scrub" to hide host and version (#937)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/_chdbclient.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/transform.py
  docs/advanced-querying.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_buffer.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_exceptions.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

fix bind time and timedelta parameters as Time literals
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/driver/binding.py
  docs/driver-api.mdx
  tests/integration_tests/test_sqlalchemy/test_time_binds.py
  tests/integration_tests/test_temporal.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

update docstring
  clickhouse_connect/driver/binding.py
Due: pylint-clickhouse-connect

fix bind time and timedelta parameters as Time literals (#943)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/driver/binding.py
  docs/driver-api.mdx
  tests/integration_tests/test_sqlalchemy/test_time_binds.py
  tests/integration_tests/test_temporal.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

add SQLAlchemy JSON subcolumn access
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
  clickhouse_connect/dbapi/cursor.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_dbapi.py
  tests/integration_tests/test_sqlalchemy/test_json_subcolumn.py
  tests/type_check/sqlalchemy_select_smoke.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_json_subcolumn.py
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-clickhouse-connect, pylint-tests

add SQLAlchemy JSON subcolumn access (#944)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
  clickhouse_connect/dbapi/cursor.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_dbapi.py
  tests/integration_tests/test_sqlalchemy/test_json_subcolumn.py
  tests/type_check/sqlalchemy_select_smoke.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_json_subcolumn.py
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-clickhouse-connect, pylint-tests

fix rust Time df dtype parity across pandas majors
  clickhouse_connect/driver/rustnumpy.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
Due: pylint-clickhouse-connect, pylint-tests

remove runtime gates for ClickHouse servers older than 25.8
  CHANGELOG.md
  clickhouse_connect/common.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/driver/_backend/orchestration.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/constants.py
  docker-compose.yml
  docs/additional-options.mdx
  tests/unit_tests/test_backend_orchestration.py
  tests/unit_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

remove obsolete server version gates from tests
  clickhouse_connect/tools/testing.py
  tests/integration_tests/conftest.py
  tests/integration_tests/test_arrow.py
  tests/integration_tests/test_client.py
  tests/integration_tests/test_dbapi.py
  tests/integration_tests/test_dynamic.py
  tests/integration_tests/test_external_data.py
  tests/integration_tests/test_inserts.py
  tests/integration_tests/test_native_fuzz.py
  tests/integration_tests/test_numeric.py
  tests/integration_tests/test_numpy.py
  tests/integration_tests/test_pandas.py
  tests/integration_tests/test_params.py
  tests/integration_tests/test_polars.py
  tests/integration_tests/test_protocol_version.py
  tests/integration_tests/test_pyarrow_ddl_integration.py
  tests/integration_tests/test_sqlalchemy/test_basics.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
  tests/integration_tests/test_sqlalchemy/test_inserts.py
  tests/integration_tests/test_sqlalchemy/test_json_subcolumn.py
  tests/integration_tests/test_sqlalchemy/test_time_binds.py
  tests/integration_tests/test_streaming.py
  tests/integration_tests/test_temporal.py
  tests/integration_tests/test_timezones.py
Due: pylint-clickhouse-connect, pylint-tests

add gate for cloud tests
  tests/integration_tests/test_dynamic.py
Due: pylint-tests

address copilot comments
  tests/unit_tests/test_dynamic.py
Due: pylint-tests

Remove old server version checks (#945)
  CHANGELOG.md
  clickhouse_connect/common.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/driver/_backend/orchestration.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/constants.py
  clickhouse_connect/tools/testing.py
  docker-compose.yml
  docs/additional-options.mdx
  tests/integration_tests/conftest.py
  tests/integration_tests/test_arrow.py
  tests/integration_tests/test_client.py
  tests/integration_tests/test_dbapi.py
  tests/integration_tests/test_dynamic.py
  tests/integration_tests/test_external_data.py
  tests/integration_tests/test_inserts.py
  tests/integration_tests/test_native_fuzz.py
  tests/integration_tests/test_numeric.py
  tests/integration_tests/test_numpy.py
  tests/integration_tests/test_pandas.py
  tests/integration_tests/test_params.py
  tests/integration_tests/test_polars.py
  tests/integration_tests/test_protocol_version.py
  tests/integration_tests/test_pyarrow_ddl_integration.py
  tests/integration_tests/test_sqlalchemy/test_basics.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
  tests/integration_tests/test_sqlalchemy/test_inserts.py
  tests/integration_tests/test_sqlalchemy/test_json_subcolumn.py
  tests/integration_tests/test_sqlalchemy/test_time_binds.py
  tests/integration_tests/test_streaming.py
  tests/integration_tests/test_temporal.py
  tests/integration_tests/test_timezones.py
  tests/unit_tests/test_backend_orchestration.py
  tests/unit_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

Fix TableEngine construction for alembic-rendered zero-arg engines and SummingMergeTree columns
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

fix: detect in-band server exceptions on Arrow streaming paths
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/transform.py
  tests/integration_tests/test_arrow.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Fix sync client sending pathless request-target through HTTP proxy
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_sync.py
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-clickhouse-connect, pylint-tests

Add async parity test for request-target path
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-tests

release prep for v1.7.0
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

release prep for v1.7.0 (#953)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

complete summingmergetree engine fixes
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

address typing issues
  .github/workflows/on_push.yml
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
Due: pylint-clickhouse-connect

add rust integration tag
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

fix rust codec performance regressions found in pre-merge benchmarking
  clickhouse_connect/driver/rustcodec.py
  rust/Cargo.lock
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert/fastpath.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/scalar.rs
  rust/ch-core-py/src/insert/special.rs
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

bump binding api version
  clickhouse_connect/driver/rustcodec.py
  rust/ch-core-py/src/lib.rs
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

add publish_core workflow for clickhouse-connect-core wheels
  .github/workflows/publish_core.yml
Due: none

add publish_core workflow for clickhouse-connect-core wheels (#955)
  .github/workflows/publish_core.yml
Due: none

fix SQLAlchemy 2.1 identifier quoting and broken 1.4 column ddl
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
  tests/unit_tests/test_sqlalchemy/test_preparer.py
Due: pylint-clickhouse-connect, pylint-tests

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
