Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

fix SQLAlchemy 2.1 identifier quoting and broken 1.4 column ddl (#956)
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
  tests/unit_tests/test_sqlalchemy/test_preparer.py
Due: pylint-clickhouse-connect, pylint-tests

release prep v1.7.1
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

release prep v1.7.1 (#957)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

upgrade binding to pyo3 0.29
  rust/Cargo.lock
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/build.rs
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/src/insert/containers.rs
  rust/ch-core-py/src/insert/fastpath.rs
  rust/ch-core-py/src/insert/json.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/qbit.rs
  rust/ch-core-py/src/insert/scalar.rs
  rust/ch-core-py/src/insert/special.rs
  rust/ch-core-py/src/insert/temporal.rs
  rust/ch-core-py/src/insert/variant.rs
  rust/ch-core-py/src/pyval/containers.rs
  rust/ch-core-py/src/pyval/ctx.rs
  rust/ch-core-py/src/pyval/fixed.rs
  rust/ch-core-py/src/pyval/json.rs
  rust/ch-core-py/src/pyval/mod.rs
  rust/ch-core-py/src/pyval/qbit.rs
  rust/ch-core-py/src/pyval/scalar.rs
Due: none

fix core wheel matrix interpreter selection
  .github/workflows/publish_core.yml
Due: none

fix interpreter spec for windows arm64 cross build
  .github/workflows/publish_core.yml
Due: none

build manylinux wheels on the 2_28 image
  .github/workflows/publish_core.yml
Due: none

release prep for rust binding rc 1.8.0rc1
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

change pkg install command in nightly workflow
  .github/workflows/clickhouse_ci.yml
Due: none

fix: escape backslashes in SQLAlchemy DDL comment rendering
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

add _meta.yml check prompt
  .claude/agents/docs-drift-reviewer.md
Due: none

change pkg install command in nightly workflow (#958)
  .github/workflows/clickhouse_ci.yml
Due: none

fix: recognize $ in query parameter names
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_params.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

align $ name grammar with the server lexer, claim binary binds by value, guard heredoc collisions
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  clickhouse_connect/driver/binding.py
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_params.py
  tests/integration_tests/test_sqlalchemy/test_server_side_params.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

Joe/docs update check work (#942)
  .claude/agents/docs-drift-reviewer.md
  .github/workflows/docs_drift_check.yml
Due: none

test docs drift check
  CHANGELOG.md
  clickhouse_connect/driver/client.py
  tests/integration_tests/test_client.py
Due: pylint-clickhouse-connect, pylint-tests

use centralized docs drift checker
  .github/workflows/docs_drift_check.yml
Due: none

Recognize $ in query parameter names (#948)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  clickhouse_connect/driver/binding.py
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_params.py
  tests/integration_tests/test_sqlalchemy/test_server_side_params.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix test with shared state
  tests/integration_tests/test_params.py
Due: pylint-tests

fix test with shared state (#962)
  tests/integration_tests/test_params.py
Due: pylint-tests

correct RFC wording, precompute normalized base URL, dedupe test helpers
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_sync.py
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-clickhouse-connect, pylint-tests

Fix sync client sending a pathless request-target through a forwarding HTTP proxy (#952)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_sync.py
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-clickhouse-connect, pylint-tests

async explicit proxy_path preservation
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-clickhouse-connect, pylint-tests

async explicit proxy_path preservation (#964)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-clickhouse-connect, pylint-tests

fix SQLAlchemy literal backslash escaping
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

use centralized docs drift checker (#961)
  .github/workflows/docs_drift_check.yml
Due: none

fix: double percent in ChSqlaType literals for pyformat
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  tests/integration_tests/test_sqlalchemy/test_select.py
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-clickhouse-connect, pylint-tests

fix SQLAlchemy ClickHouse literal processors
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  tests/integration_tests/test_sqlalchemy/test_literals.py
  tests/unit_tests/test_sqlalchemy/test_literal_processor.py
Due: pylint-clickhouse-connect, pylint-tests

fix ClickHouse literal percent escaping
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_server_side_params.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_literal_processor.py
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-clickhouse-connect, pylint-tests

fix trailing semicolons breaking the client appended FORMAT clause
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_arrow.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_binding.py
Due: pylint-clickhouse-connect, pylint-tests

Joe/fix chsqlatype literal bugs (#969)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_literals.py
  tests/integration_tests/test_sqlalchemy/test_server_side_params.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_literal_processor.py
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-clickhouse-connect, pylint-tests

fix SQLAlchemy DDL string literal escaping
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

link CHANGELOG entry to #975
  CHANGELOG.md
Due: none

fix SQLAlchemy literal escaping at compiler level
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_literal_processor.py
Due: pylint-clickhouse-connect, pylint-tests

classify inserts by SQL token rules and gate the trailing semicolon lexer
  CHANGELOG.md
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_binding.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy DDL string literal escaping for comments and string defaults (#972)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_literal_processor.py
Due: pylint-clickhouse-connect, pylint-tests

optimize INSERT query classification
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  tests/unit_tests/test_driver/test_binding.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

fix bad cloud test
  tests/integration_tests/test_client.py
Due: pylint-tests

fix failing query
  tests/integration_tests/test_client.py
Due: pylint-tests

update review instructions and arch metadata
  .agents/architecture.md
  .agents/review.md
  .github/copilot-instructions.md
  .github/skills/code-review/SKILL.md
Due: none

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
