Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

update misleading comment
  clickhouse_connect/driver/binding.py
Due: pylint-clickhouse-connect

fix unescaped inner quotes in pre-quoted identifiers (#750)
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_driver/test_binding.py
Due: pylint-clickhouse-connect, pylint-tests

Add chdb in-process backend via interface="chdb"
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/chdbasync.py
  clickhouse_connect/driver/chdbclient.py
  setup.py
  tests/test_bare_install.py
  tests/test_requirements.txt
  tests/unit_tests/test_driver/test_chdbclient.py
Due: pylint-clickhouse-connect, pylint-tests

Drop sys_platform marker on chdb extra so Windows fails at install time
  setup.py
  tests/test_requirements.txt
Due: none

Drop chdb DataFrame fast path and clean up dead code
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/chdbasync.py
  clickhouse_connect/driver/chdbclient.py
  tests/test_bare_install.py
  tests/unit_tests/test_driver/test_chdbclient.py
Due: pylint-clickhouse-connect, pylint-tests

Restore chdb session settings after command() per-call overrides
  clickhouse_connect/driver/chdbclient.py
  tests/unit_tests/test_driver/test_chdbclient.py
Due: pylint-clickhouse-connect, pylint-tests

Add CHANGELOG entry for chdb backend
  CHANGELOG.md
Due: none

Wire chdb parameter binding and expand test coverage
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/chdbclient.py
  setup.py
  tests/test_bare_install.py
  tests/test_requirements.txt
  tests/unit_tests/test_driver/test_chdbclient.py
Due: pylint-clickhouse-connect, pylint-tests

Add chdb tests for arrow/numpy/streaming/DBAPI parity with HTTP
  clickhouse_connect/driver/chdbclient.py
  tests/test_bare_install.py
  tests/unit_tests/test_driver/test_chdbclient.py
Due: pylint-clickhouse-connect, pylint-tests

async client: retry consecutive ServerDisconnectedErrors up to query_retries
  clickhouse_connect/driver/asyncclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

Fix chdb backend bugs and behavior gaps found via HTTP integration test parity
  clickhouse_connect/driver/chdbasync.py
  clickhouse_connect/driver/chdbclient.py
  tests/unit_tests/test_driver/test_chdbclient.py
Due: pylint-clickhouse-connect, pylint-tests

- Add CHANGELOG.md - Add 0.1 * attempts delay between retries - add handling for httpclient as well and test
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

pass query_retries to raw_query and raw_stream for parity with async
  CHANGELOG.md
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

linting
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

async client: retry ServerDisconnectedErrors up to retries (#755)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

propagate server_host_name to TLS SNI
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  setup.py
  tests/test_requirements.txt
Due: pylint-clickhouse-connect

propagate server_host_name to TLS SNI (#756)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  setup.py
  tests/test_requirements.txt
Due: pylint-clickhouse-connect

address pr comments
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

Integrate Alembic support & SQLAlchemy improvements into main (#758)
  CHANGELOG.md
  README.md
  clickhouse_connect/_version.py
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/alembic/WORKED_EXAMPLE.md
  clickhouse_connect/cc_sqlalchemy/alembic/__init__.py
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/alembic/utils.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/ddl/__init__.py
  clickhouse_connect/cc_sqlalchemy/ddl/dictionary.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/engines.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  clickhouse_connect/cc_sqlalchemy/sql/sqlparse.py
  clickhouse_connect/cc_sqlalchemy/types.py
  setup.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/test_requirements.txt
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_array_join_chainable.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_lambda.py
  tests/unit_tests/test_sqlalchemy/test_migration_exports.py
  tests/unit_tests/test_sqlalchemy/test_orm_modifiers.py
  tests/unit_tests/test_sqlalchemy/test_prewhere_limit_by.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

1.1.0 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

simplify alembic wex, col settings & comments fixes
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/alembic/WORKED_EXAMPLE.md
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  setup.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/test_requirements.txt
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

raise correct error
  clickhouse_connect/cc_sqlalchemy/dialect.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

simplify alembic wex, col settings & comments fixes (#759)
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/alembic/WORKED_EXAMPLE.md
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  setup.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/test_requirements.txt
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

1.1.0 release prep (#760)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

fix show row policy handing
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

fix async stale connection reset retries
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

harden remote-close retry classification
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

fix show row policy handing (#762)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

Joe/763 async client does not retry due to miscategorized exceptions (#764)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

route ping through proxy
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
Due: pylint-clickhouse-connect

tests
  tests/integration_tests/test_proxy.py
Due: pylint-tests

route ping through proxy (#765)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  tests/integration_tests/test_proxy.py
Due: pylint-clickhouse-connect, pylint-tests

1.1.1 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

1.1.1 release prep (#767)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

avoid qemu in wheel builds
  .github/workflows/publish.yml
Due: none

bring docs local
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  docs/index.mdx
  docs/navigation.json
  docs/sqlalchemy.mdx
Due: none

don't require space for line comments
  CHANGELOG.md
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_driver/test_parser.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

don't require space for line comments (#769)
  CHANGELOG.md
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_driver/test_parser.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

add opt-in server-side bind parameters to sqa
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
  tests/integration_tests/test_sqlalchemy/test_server_side_params.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

add opt-in server-side bind parameters to sqa (#770)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
  tests/integration_tests/test_sqlalchemy/test_server_side_params.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
