Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

Create copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Create copilot-instructions.md (#721)
  .github/copilot-instructions.md
Due: none

drop pytz dependency (#715)
  .github/workflows/on_push.yml
  CHANGELOG.md
  Dockerfile
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/tzutil.py
  clickhouse_connect/tools/datagen.py
  setup.py
  tests/conftest.py
  tests/helpers.py
  tests/integration_tests/test_params.py
  tests/integration_tests/test_timezones.py
  tests/test_requirements.txt
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

expose __version__ as string
  CHANGELOG.md
  clickhouse_connect/__init__.py
  clickhouse_connect/common.py
Due: pylint-clickhouse-connect

add __all__ to init
  clickhouse_connect/__init__.py
Due: pylint-clickhouse-connect

go with version string only
  CHANGELOG.md
  clickhouse_connect/__init__.py
  clickhouse_connect/_version.py
  clickhouse_connect/common.py
  setup.py
Due: pylint-clickhouse-connect

add test, reorder ver check
  clickhouse_connect/__init__.py
  tests/unit_tests/test_version.py
Due: pylint-clickhouse-connect, pylint-tests

expose __version__ as string (#722)
  CHANGELOG.md
  clickhouse_connect/__init__.py
  clickhouse_connect/_version.py
  clickhouse_connect/common.py
  setup.py
  tests/unit_tests/test_version.py
Due: pylint-clickhouse-connect, pylint-tests

update date
  CHANGELOG.md
Due: none

Release/1.0.0rc1 (#723)
  CHANGELOG.md
  clickhouse_connect/_version.py
  setup.py
Due: pylint-clickhouse-connect

need zoneinfo for new tests
  tests/unit_tests/test_driver/test_epoch_arithmetic.py
Due: pylint-tests

cc_sqalchemy ergonomics
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/unit_tests/test_sqlalchemy/test_array_join_chainable.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_migration_exports.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

chcsqa prewhere, limit by, lambda chainables
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/unit_tests/test_sqlalchemy/test_lambda.py
  tests/unit_tests/test_sqlalchemy/test_prewhere_limit_by.py
Due: pylint-clickhouse-connect, pylint-tests

linting
  tests/integration_tests/test_sqlalchemy/test_alembic.py
Due: pylint-tests

wording edits, name fixes
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  clickhouse_connect/cc_sqlalchemy/sql/sqlparse.py
Due: pylint-clickhouse-connect

linting, use format
  clickhouse_connect/cc_sqlalchemy/alembic/__init__.py
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/alembic/utils.py
  clickhouse_connect/cc_sqlalchemy/ddl/dictionary.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/engines.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  clickhouse_connect/cc_sqlalchemy/types.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

preserve ARRAY JOIN labels, fix Tuple adapt
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  tests/unit_tests/test_sqlalchemy/test_array_join_chainable.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

simplify docstrings
  tests/unit_tests/test_sqlalchemy/test_array_join_chainable.py
  tests/unit_tests/test_sqlalchemy/test_lambda.py
  tests/unit_tests/test_sqlalchemy/test_prewhere_limit_by.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-tests

update migration guide
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
Due: none

Create cross-repo-bug-relay.yml (#720)
  .github/workflows/cross-repo-bug-relay.yml
Due: none

update server ref agent docs, add server map
  .agents/server-map.md
  .gitignore
  AGENTS.md
Due: none

add server reader agent
  .claude/agents/clickhouse-server-reader.md
  AGENTS.md
Due: none

async client: retry on bare ServerDisconnectedError
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

async client: retry on bare ServerDisconnectedError (#726)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

fix two perf regressions in DT64 UTC-tz and list numeric inserts
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driverc/dataconv.pyx
Due: pylint-clickhouse-connect

update changelog
  CHANGELOG.md
Due: none

improve decimal reads
  CHANGELOG.md
  clickhouse_connect/datatypes/numeric.py
Due: pylint-clickhouse-connect

move perf notes to unreleased section
  CHANGELOG.md
Due: none

fix numpy memcpy fast path dispatch for non-float64 dtypes
  clickhouse_connect/datatypes/numeric.py
Due: pylint-clickhouse-connect

fix century-divisible-by-400 leap year bug in epoch decoder
  clickhouse_connect/driver/tzutil.py
  clickhouse_connect/driverc/dataconv.pyx
Due: pylint-clickhouse-connect

add test, move location of changelog entry
  CHANGELOG.md
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-tests

fix: accept **kwargs in Bool.__init__ for SQLAlchemy type compatibility (#706)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

remove dead code
  clickhouse_connect/driverc/buffer.pyx
Due: none

leap year regression tests, utcfromtimestamp sig narrowing
  clickhouse_connect/driver/tzutil.py
  tests/unit_tests/test_driver/test_epoch_arithmetic.py
Due: pylint-clickhouse-connect, pylint-tests

remove dead code
  tests/unit_tests/test_driver/test_epoch_arithmetic.py
Due: pylint-tests

make error message consistent
  clickhouse_connect/driver/common.py
Due: pylint-clickhouse-connect

hoist static lists out of hot loop
  clickhouse_connect/driver/tzutil.py
Due: pylint-clickhouse-connect

remove unnecessary year check
  clickhouse_connect/driver/tzutil.py
  clickhouse_connect/driverc/dataconv.pyx
  tests/unit_tests/test_driver/test_epoch_arithmetic.py
Due: pylint-clickhouse-connect, pylint-tests

update server ref agent docs, add server map (#724)
  .agents/server-map.md
  .claude/agents/clickhouse-server-reader.md
  .gitignore
  AGENTS.md
Due: none

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
