Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

few small fixes
  CHANGELOG.md
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-tests

raise StreamFailureError on sync mid-stream read errors
  CHANGELOG.md
  clickhouse_connect/driver/transform.py
Due: pylint-clickhouse-connect

refactor(dbapi): add type annotations to pass mypy (part of #692) (#800)
  CHANGELOG.md
  clickhouse_connect/dbapi/__init__.py
  clickhouse_connect/dbapi/connection.py
  clickhouse_connect/dbapi/cursor.py
  pyproject.toml
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

refactor(driver-utils): add type annotations to driver utility modules
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncqueue.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/compression.py
  clickhouse_connect/driver/context.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driver/ddl.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/npquery.py
  clickhouse_connect/driver/parser.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/summary.py
  clickhouse_connect/driver/transform.py
  clickhouse_connect/driver/types.py
  clickhouse_connect/driver/tzutil.py
  pyproject.toml
Due: pylint-clickhouse-connect

refactor(datatypes): narrow ch_read_formats/ch_write_formats key type from Any to type
  clickhouse_connect/datatypes/base.py
Due: pylint-clickhouse-connect

refactor(datatypes): replace cast(Any, index) with 'type: ignore' on .dtype access
  clickhouse_connect/datatypes/base.py
Due: pylint-clickhouse-connect

refactor(datatypes): replace cast(str, _array_type) with asserts and narrow type in IntBase
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/numeric.py
Due: pylint-clickhouse-connect

feat(datatypes): annotate datatypes layer for mypy compliance
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/format.py
  clickhouse_connect/datatypes/network.py
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/datatypes/registry.py
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/datatypes/vector.py
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/types.py
  pyproject.toml
Due: pylint-clickhouse-connect

refactor(datatypes): document 'type: ignore' on IPv6Address private attribute access
  clickhouse_connect/datatypes/network.py
Due: pylint-clickhouse-connect

refactor(driver-utils): widen QueryContext.parameters to accept Sequence | dict | None
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

Quote Decimal query parameters to preserve precision
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_numeric.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

Add CHANGELOG entry for Decimal parameter quoting fix
  CHANGELOG.md
Due: none

formatting
  CHANGELOG.md
Due: none

Always raise exception on read error (#803)
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/transform.py
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-clickhouse-connect, pylint-tests

silence macOS-only mypy error, note query_id change
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
Due: pylint-clickhouse-connect

refactor(datatypes): add type annotations to pass mypy (part of #692) (#804)
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/format.py
  clickhouse_connect/datatypes/network.py
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/datatypes/registry.py
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/datatypes/vector.py
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/types.py
  pyproject.toml
Due: pylint-clickhouse-connect

refactor(driver-utils): add type annotations to pass mypy (part of #692) (#805)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncqueue.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/compression.py
  clickhouse_connect/driver/context.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driver/ddl.py
  clickhouse_connect/driver/exceptions.py
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/npquery.py
  clickhouse_connect/driver/parser.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/summary.py
  clickhouse_connect/driver/transform.py
  clickhouse_connect/driver/types.py
  clickhouse_connect/driver/tzutil.py
  pyproject.toml
Due: pylint-clickhouse-connect

refactor(driver-clients): add type annotations to client, httpclient, asyncclient
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  pyproject.toml
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

fix(driver): guard binary parameter binds in command() after rebase onto driver-utils annotations
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

refactor(cc_sqlalchemy): make TableEngine inherit SchemaItem directly
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
Due: pylint-clickhouse-connect

refactor(cc_sqlalchemy): add type annotations
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/alembic/utils.py
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/ddl/custom.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
  clickhouse_connect/py.typed
  pyproject.toml
Due: pylint-clickhouse-connect

refactor(driver): drop type:ignore suppressions made unnecessary by #805
  clickhouse_connect/driver/client.py
Due: pylint-clickhouse-connect

regression tests, async command guard, baseline cleanup
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  pyproject.toml
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

refactor(driver-clients): add annotations to client, httpclient, asyncclient (part of #692) (#806)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  pyproject.toml
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

formatting
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
Due: pylint-clickhouse-connect

refactor(cc_sqlalchemy): add type annotations to pass mypy (part of #692) (#807)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/alembic/utils.py
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/ddl/custom.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
  clickhouse_connect/py.typed
  pyproject.toml
Due: pylint-clickhouse-connect

add note about mypy typing
  .agents/architecture.md
  AGENTS.md
Due: none

add note about mypy typing (#810)
  .agents/architecture.md
  AGENTS.md
Due: none

feat(backend): add Backend protocol and BackendNotInstalled
  clickhouse_connect/driver/backend.py
  clickhouse_connect/driver/exceptions.py
Due: pylint-clickhouse-connect

feat(backend): discover backends via entry points and route get_client(backend=...)
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/registry.py
Due: pylint-clickhouse-connect

docs(backend): add chdb extra and changelog entry
  CHANGELOG.md
  setup.py
Due: none

test(backend): add backend-protocol contract tests
  tests/unit_tests/test_driver/test_backend_contract.py
Due: pylint-tests

refactor(driver): accept None for port and database as canonical 'not specified'
  clickhouse_connect/dbapi/__init__.py
  clickhouse_connect/dbapi/connection.py
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_driver/test_dsn.py
Due: pylint-clickhouse-connect, pylint-tests

docs: track internal driver signature default change
  CHANGELOG.md
Due: none

chore: add local mypy pre-commit hook mirroring CI
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

keep legacy port and database sentinels working
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/client.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_dsn.py
Due: pylint-clickhouse-connect, pylint-tests

prevent mypy running on non py modified files
  .pre-commit-config.yaml
Due: none

chore: add local mypy pre-commit hook mirroring CI (#814)
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

allow trailing slash
  clickhouse_connect/driver/__init__.py
  tests/unit_tests/test_driver/test_dsn.py
Due: pylint-clickhouse-connect, pylint-tests

refactor(driver): accept None for port and database as 'not specified' (#813)
  CHANGELOG.md
  clickhouse_connect/dbapi/__init__.py
  clickhouse_connect/dbapi/connection.py
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_dsn.py
Due: pylint-clickhouse-connect, pylint-tests
