Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

Prepare 1.9.0rc3 release
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Prepare 1.9.0rc3 release (#1051)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

test: cover Arrow identifier quoting against a live server
  tests/integration_tests/test_arrow.py
Due: pylint-tests

Fix false LIMIT 0 metadata probes
  CHANGELOG.md
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_chdb.py
Due: pylint-clickhouse-connect, pylint-tests

Fix LIMIT 0 probe test coverage
  CHANGELOG.md
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-tests

Clarify and test LIMIT 0 probe errors
  CHANGELOG.md
  clickhouse_connect/driver/_backend/httpcommon.py
  docs/driver-api.mdx
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Fix false LIMIT 0 metadata probes (#1038)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/binding.py
  docs/driver-api.mdx
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Quote identifiers on Arrow insert table names (#1026)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/orchestration.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  tests/integration_tests/test_arrow.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Drop the deprecated license classifier
  pyproject.toml
  setup.py
Due: none

Declare the license with license_expression
  setup.py
Due: none

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Add opt-in Map pairs reads to preserve duplicate keys
  CHANGELOG.md
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/postinit.py
  clickhouse_connect/driver/npquery.py
  clickhouse_connect/driver/transform.py
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  tests/integration_tests/test_map_pairs.py
  tests/unit_tests/test_driver/test_map_pairs.py
Due: pylint-clickhouse-connect, pylint-tests

Add opt-in Map pairs reads to preserve duplicate keys (#1053)
  CHANGELOG.md
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/postinit.py
  clickhouse_connect/driver/npquery.py
  clickhouse_connect/driver/transform.py
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  tests/integration_tests/test_map_pairs.py
  tests/unit_tests/test_driver/test_map_pairs.py
Due: pylint-clickhouse-connect, pylint-tests

Align test setuptools requirement with build minimum
  tests/test_requirements.txt
Due: none

Drop the deprecated license classifier (#1003)
  CHANGELOG.md
  pyproject.toml
  setup.py
  tests/test_requirements.txt
Due: none

Add private Rust numeric buffer exports and ownership tests
  .github/workflows/binding_ci.yml
  rust/BINDING_ARCHITECTURE.md
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/buffers.rs
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/tests/test_buffers.py
Due: none

Extend private Rust buffers to scalar storage types
  rust/BINDING_ARCHITECTURE.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/buffers.rs
  rust/ch-core-py/tests/test_buffers.py
Due: none

Expose private Rust array offsets and child buffers
  rust/BINDING_ARCHITECTURE.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/buffers.rs
  rust/ch-core-py/tests/test_array_buffers.py
  rust/ch-core-py/tests/test_buffers.py
Due: none

Add private Time dictionary buffers and qualify Rust tests across server versions
  .github/workflows/binding_ci.yml
  rust/BINDING_ARCHITECTURE.md
  rust/ch-core-py/src/buffers.rs
  rust/ch-core-py/tests/test_buffers.py
  rust/ch-core-py/tests/test_dictionary_buffers.py
  tests/integration_tests/conftest.py
  tests/integration_tests/test_native.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_integration_helpers.py
Due: pylint-tests

Adopt Rust column buffers for numeric output with capability checks
  CHANGELOG.md
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/rustnumpy.py
  docs/rust-codec.mdx
  rust/BINDING_ARCHITECTURE.md
  rust/Cargo.lock
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/README.md
  setup.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_rustcodec.py
  tests/unit_tests/test_driver/test_rustnumpy_buffers.py
Due: pylint-clickhouse-connect, pylint-tests

Use Rust column buffers for nullable numeric results
  CHANGELOG.md
  clickhouse_connect/driver/rustnumpy.py
  docs/rust-codec.mdx
  rust/BINDING_ARCHITECTURE.md
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy_buffers.py
Due: pylint-clickhouse-connect, pylint-tests

Use Rust column buffers for BFloat16 and Interval results
  CHANGELOG.md
  clickhouse_connect/driver/rustnumpy.py
  docs/rust-codec.mdx
  rust/BINDING_ARCHITECTURE.md
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_driver/test_rustnumpy_buffers.py
Due: pylint-clickhouse-connect, pylint-tests

Use Rust column buffers for scalar temporal results
  CHANGELOG.md
  clickhouse_connect/driver/rustnumpy.py
  docs/rust-codec.mdx
  rust/BINDING_ARCHITECTURE.md
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_driver/test_rustnumpy_buffers.py
Due: pylint-clickhouse-connect, pylint-tests

Preserve nullable DateTime64 nanoseconds in Rust results
  CHANGELOG.md
  clickhouse_connect/driver/rustnumpy.py
  docs/rust-codec.mdx
  rust/BINDING_ARCHITECTURE.md
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_driver/test_rustnumpy_buffers.py
Due: pylint-clickhouse-connect, pylint-tests

Use Rust buffers for array and dictionary temporal results
  CHANGELOG.md
  clickhouse_connect/driver/rustnumpy.py
  docs/rust-codec.mdx
  rust/BINDING_ARCHITECTURE.md
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_driver/test_rustnumpy_buffers.py
Due: pylint-clickhouse-connect, pylint-tests

Make PyArrow optional for Rust NumPy and Pandas queries
  CHANGELOG.md
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/rustnumpy.py
  docs/index.mdx
  docs/rust-codec.mdx
  rust/BINDING_ARCHITECTURE.md
  rust/ch-core-py/src/buffers.rs
  rust/ch-core-py/tests/test_buffers.py
  rust/ch-core-py/tests/test_dictionary_buffers.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustcodec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_driver/test_rustnumpy_buffers.py
Due: pylint-clickhouse-connect, pylint-tests

Qualify Rust dependency profiles and fix stream cancellation cleanup
  .github/workflows/binding_ci.yml
  CHANGELOG.md
  clickhouse_connect/driver/streaming.py
  tests/integration_tests/test_rust_codec_contract.py
  tests/unit_tests/test_driver/test_rustcodec_lifecycle.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Bound Rust decoder feeds to reduce query peak memory
  CHANGELOG.md
  clickhouse_connect/driver/rustcodec.py
  docs/rust-codec.mdx
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

Offload async Arrow insert encoding
  clickhouse_connect/driver/asyncclient.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Qualify core release wheels across supported platforms
  .github/scripts/qualify_core_wheel.py
  .github/workflows/binding_ci.yml
  .github/workflows/publish_core.yml
  tests/conftest.py
Due: pylint-tests

Fix platform issues found by core wheel qualification
  .github/workflows/binding_ci.yml
  .github/workflows/publish_core.yml
  CHANGELOG.md
  tests/unit_tests/test_driver/test_rustnumpy_buffers.py
Due: pylint-tests

Wait for read-ahead producer exit in cancellation contract
  tests/integration_tests/test_rust_codec_contract.py
Due: pylint-tests

Isolate async Arrow preparation and harden worker lifecycle
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  docs/advanced-usage.mdx
  tests/integration_tests/test_async_features.py
  tests/unit_tests/test_driver/test_async_arrow.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Fix read-ahead finalization and Cloud test assumptions
  CHANGELOG.md
  clickhouse_connect/driver/streaming.py
  tests/integration_tests/test_session_id.py
  tests/integration_tests/test_sqlalchemy/test_async_dialect.py
  tests/integration_tests/test_sqlalchemy/test_tableengine.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Run Rust binding CI for backend and client factory changes
  .github/workflows/binding_ci.yml
Due: none

Skip disabled analyzer case on ClickHouse 26.9+
  tests/integration_tests/test_sqlalchemy/test_materialized_cte.py
Due: pylint-tests

Document sync and async HTTP option string conversion
  docs/driver-api.mdx
Due: none

release prep for v1.9.0
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Make async external data replayable
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-clickhouse-connect, pylint-tests
