Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

Apply ruff format to test_fixed_string_empty_bytes
  tests/integration_tests/test_inserts.py
Due: pylint-tests

fix(dbapi): make executemany Cursor.description type_code a type name string
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

Refactor: implement pluggable backend architecture (#872)
  .github/workflows/on_push.yml
  CHANGELOG.md
  README.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/_backend/__init__.py
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/contracts.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/_backend/models.py
  clickhouse_connect/driver/_backend/operations.py
  clickhouse_connect/driver/_backend/orchestration.py
  clickhouse_connect/driver/_backendclient.py
  clickhouse_connect/driver/_chdbclient.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/models.py
  clickhouse_connect/driver/streaming.py
  pyproject.toml
  setup.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_backend_orchestration.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_token_provider.py
Due: pylint-clickhouse-connect, pylint-tests

Replace zstandard with backports.zstd / stdlib compression.zstd (#577)
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/compression.py
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/streaming.py
  pyproject.toml
  setup.py
  tests/integration_tests/test_client.py
  tests/test_requirements.txt
  tests/unit_tests/test_driver/test_httputil.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Add Kerberos/SPNEGO authentication support (#128)
  CHANGELOG.md
  README.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/kerberos.py
  clickhouse_connect/driver/options.py
  pyproject.toml
  setup.py
  tests/test_requirements.txt
  tests/unit_tests/test_driver/test_kerberos.py
Due: pylint-clickhouse-connect, pylint-tests

Add Kerberos integration tests
  .docker/kerberos-kdc/Dockerfile
  .github/workflows/on_push.yml
  CONTRIBUTING.md
  docker-compose.yml
  pyproject.toml
  tests/integration_tests/kerberos_conf/kerberos_client_krb5.conf
  tests/integration_tests/kerberos_conf/kerberos_config.xml
  tests/integration_tests/kerberos_conf/kerberos_image_config.sh
  tests/integration_tests/kerberos_conf/kerberos_server_krb5.conf
  tests/integration_tests/kerberos_conf/kerberos_users.xml
  tests/integration_tests/kerberos_manage.py
  tests/integration_tests/test_kerberos.py
Due: pylint-tests

publish wheels to PyPI with trusted publishing instead of API tokens
  .github/workflows/publish.yml
Due: none

fix: forward unknown settings so CHANGEABLE_IN_READONLY works
  CHANGELOG.md
  clickhouse_connect/driver/client.py
  docs/additional-options.mdx
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_validate_settings.py
Due: pylint-clickhouse-connect, pylint-tests

publish wheels to PyPI with trusted publishing instead of API tokens (#888)
  .github/workflows/publish.yml
Due: none

address review findings for zstd migration
  CHANGELOG.md
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/compression.py
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/streaming.py
  pyproject.toml
  setup.py
  tests/test_requirements.txt
  tests/unit_tests/test_driver/test_compression.py
  tests/unit_tests/test_driver/test_httputil.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

replace setup.py develop with pip install -e in CI
  .github/workflows/on_push.yml
Due: none

Replace zstandard with backports.zstd / stdlib compression.zstd (#577) (#877)
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/compression.py
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/streaming.py
  pyproject.toml
  setup.py
  tests/integration_tests/test_client.py
  tests/test_requirements.txt
  tests/unit_tests/test_driver/test_compression.py
  tests/unit_tests/test_driver/test_httputil.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

ci: pin GitHub Actions to commit SHAs (22 pin(s))
  .github/workflows/clickhouse_ci.yml
  .github/workflows/docs_sync.yml
  .github/workflows/docs_verify.yml
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
Due: none

docs refresh
  clickhouse_connect/driver/__init__.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  docs/index.mdx
  docs/sqlalchemy.mdx
Due: pylint-clickhouse-connect

docs refresh (#891)
  clickhouse_connect/driver/__init__.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  docs/index.mdx
  docs/sqlalchemy.mdx
Due: pylint-clickhouse-connect

ci: refresh ClickHouse server version matrix (drop 26.4, add 26.6 + 26.7)
  .github/workflows/on_push.yml
Due: none

release prep for v1.6.0
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

release prep for v1.6.0 (#893)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

distribute the rust codec as a separate clickhouse-connect-core wheel
  .github/workflows/binding_ci.yml
  .github/workflows/publish_core.yml
  .gitignore
  CHANGELOG.md
  DISTRIBUTION_PLAN.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/rustcodec.py
  docs/navigation.json
  docs/rust-codec.mdx
  rust/Cargo.lock
  rust/README.md
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/pyproject.toml
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/src/pyval/containers.rs
  rust/ch-core-py/src/pyval/json.rs
  rust/ch-core-py/src/pyval/mod.rs
  setup.py
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

add PyPI metadata for the clickhouse-connect-core wheel
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/README.md
  rust/ch-core-py/pyproject.toml
Due: none

reference the rust codec from the driver docs
  docs/additional-options.mdx
  docs/driver-api.mdx
  docs/index.mdx
Due: none

prune binding arch, remove stale bench results files
  rust/BINDING_ARCHITECTURE.md
  rust/README.md
  rust/RESULTS.md
  rust/results_decode_isolated.txt
  rust/results_query_e2e.txt
Due: none

add types
  .github/workflows/on_push.yml
  clickhouse_connect/common.py
  clickhouse_connect/datatypes/geometric.py
  clickhouse_connect/driver/_backendclient.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/rustnumpy.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/transform.py
  clickhouse_connect/driver/types.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_rustcodec.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

fix cast in tests
  tests/integration_tests/test_geometric.py
  tests/integration_tests/test_rust_codec.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-tests

pin rust toolchain ver, and fix clippy
  .github/workflows/binding_ci.yml
  rust/ch-core-py/src/insert/scalar.rs
Due: none

patch core presence in test
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-tests

consolidated bug fixes
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/datatypes/string.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/parser.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_inserts.py
  tests/integration_tests/test_params.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

consolidated bug fixes (#895)
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/datatypes/string.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/parser.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_inserts.py
  tests/integration_tests/test_params.py
  tests/unit_tests/test_driver/test_params.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

harden #530 setting forwarding and stabilize tests
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/conftest.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_validate_settings.py
Due: pylint-clickhouse-connect, pylint-tests

fix flaky test
  tests/integration_tests/test_client.py
Due: pylint-tests

fix flaky test (#896)
  tests/integration_tests/test_client.py
Due: pylint-tests

make names internal for typing
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

fix: forward unknown settings for CHANGEABLE_IN_READONLY (#530) (#889)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  docs/additional-options.mdx
  tests/integration_tests/conftest.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_validate_settings.py
Due: pylint-clickhouse-connect, pylint-tests

fix: do not shift naive datetime query parameters by the host timezone
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix(dbapi): report actual null_ok in Cursor.description
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_dbapi.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

fix: strip trailing semicolon followed by whitespace/comments before FORMAT append
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_binding.py
Due: pylint-clickhouse-connect, pylint-tests

fix(dbapi): strip trailing comments before Cursor metadata re-query
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_dbapi.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

fix: populate DB-API cursor.description for a SELECT/WITH with a leading comment
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_dbapi.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

feat(sqlalchemy): support materialized CTEs (WITH ... AS MATERIALIZED)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_materialized_cte.py
  tests/type_check/sqlalchemy_select_smoke.py
  tests/unit_tests/test_sqlalchemy/test_materialized_cte.py
Due: pylint-clickhouse-connect, pylint-tests
