Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

0.13.0 release prep (#657)
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

feat: add more types for sample value
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
Due: pylint-clickhouse-connect

feat: add support for SAMPLE clause in SQLAlchemy stmts
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_select.py
Due: pylint-clickhouse-connect, pylint-tests

docs: update changelog
  CHANGELOG.md
Due: none

docstring clarification
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
Due: pylint-clickhouse-connect

feat: add support for SAMPLE clause in SQLAlchemy queries (#656)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_select.py
Due: pylint-clickhouse-connect, pylint-tests

assert summary plumbing works e2e through sqa cursor
  tests/integration_tests/test_sqlalchemy/test_basics.py
Due: pylint-tests

assert summary plumbing works e2e through sqa cursor (#659)
  tests/integration_tests/test_sqlalchemy/test_basics.py
Due: pylint-tests

don't raise if matching and but readonly
  clickhouse_connect/driver/client.py
Due: pylint-clickhouse-connect

build 314t wheels
  .github/workflows/publish.yml
  CHANGELOG.md
  pyproject.toml
Due: none

upgrade cython, skip 313t
  .github/workflows/publish.yml
  pyproject.toml
Due: none

remove redundant skip
  pyproject.toml
Due: none

Add Python 3.14 free-threading (cp314t) wheel builds (#660)
  .github/workflows/publish.yml
  CHANGELOG.md
  pyproject.toml
Due: none

remove pandas 1.x support, add pandas 3.x support
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/common.py
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/string.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/npquery.py
  clickhouse_connect/driver/options.py
  clickhouse_connect/driver/query.py
  setup.py
  tests/integration_tests/test_async_client.py
  tests/integration_tests/test_pandas.py
  tests/integration_tests/test_pandas_compat.py
  tests/test_requirements.txt
  tests/unit_tests/test_pandas.py
Due: pylint-clickhouse-connect, pylint-tests

linting
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/options.py
Due: pylint-clickhouse-connect

Joe/638 fix issue where sending redundant settings is skipped (#639)
  CHANGELOG.md
  clickhouse_connect/driver/client.py
Due: pylint-clickhouse-connect

rename utc_tz_aware to tz_mode
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_timezones.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

remove deprecated experimental Object(JSON) type
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/dynamic.py
  tests/integration_tests/test_native.py
Due: pylint-clickhouse-connect, pylint-tests

remove deprecated experimental Object(JSON) type (#666)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/dynamic.py
  tests/integration_tests/test_native.py
Due: pylint-clickhouse-connect, pylint-tests

rename utc_tz_aware to tz_mode (#664)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_timezones.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

add pandas 1.x deprecation warning for 1.0.0
  CHANGELOG.md
  clickhouse_connect/driver/options.py
Due: pylint-clickhouse-connect

remove deprecated utc_tz_aware parameter
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

linting
  tests/unit_tests/test_driver/test_query.py
Due: pylint-tests

add pandas 1.x deprecation warning for 1.0.0 (#667)
  CHANGELOG.md
  clickhouse_connect/driver/options.py
Due: pylint-clickhouse-connect

rename apply_server_timezone to tz_source
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_native_fuzz.py
  tests/integration_tests/test_timezones.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

rename apply_server_timezone to tz_source (#670)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_native_fuzz.py
  tests/integration_tests/test_timezones.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

add bare import smoke test to CI
  .github/workflows/on_push.yml
  tests/test_bare_install.py
Due: pylint-tests

fix job name
  .github/workflows/on_push.yml
Due: none

matrix requires bare import success
  .github/workflows/on_push.yml
Due: none

add bare import smoke test to CI (#671)
  .github/workflows/on_push.yml
  tests/test_bare_install.py
Due: pylint-tests

add future warning about async native client
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
Due: pylint-clickhouse-connect

wording
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
Due: pylint-clickhouse-connect

async native future warning (#672)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
Due: pylint-clickhouse-connect

release prep for 0.14.0
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

release prep for 0.14.0 (#673)
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

fix json shared data and dynamic shared variant decoding
  CHANGELOG.md
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/format.py
  clickhouse_connect/datatypes/postinit.py
  clickhouse_connect/driver/bytesource.py
  tests/integration_tests/test_dynamic.py
  tests/unit_tests/test_bytesource.py
Due: pylint-clickhouse-connect, pylint-tests

tweaks, fix slots
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/driver/bytesource.py
Due: pylint-clickhouse-connect

add test
  tests/integration_tests/test_dynamic.py
Due: pylint-tests

clarify changelog
  CHANGELOG.md
Due: none

Fix shared variant decoding for JSON and Dynamic columns (#677)
  CHANGELOG.md
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/format.py
  clickhouse_connect/datatypes/postinit.py
  clickhouse_connect/driver/bytesource.py
  tests/integration_tests/test_dynamic.py
  tests/unit_tests/test_bytesource.py
Due: pylint-clickhouse-connect, pylint-tests

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
