Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

fix sqlalchemy empty result metadata queries
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-clickhouse-connect, pylint-tests

remove unneeded asserts
  clickhouse_connect/dbapi/cursor.py
Due: pylint-clickhouse-connect

pyright
  clickhouse_connect/dbapi/cursor.py
Due: pylint-clickhouse-connect

reenable and fix driverc drift
  .github/workflows/on_push.yml
  clickhouse_connect/driver/ctypes.py
  clickhouse_connect/driverc/buffer.pxd
  clickhouse_connect/driverc/buffer.pyx
  clickhouse_connect/driverc/dataconv.pyx
  clickhouse_connect/driverc/npconv.pyx
  tests/unit_tests/test_driver/test_buffer.py
  tests/unit_tests/test_driver/test_c_parity.py
  tests/unit_tests/test_driver/test_ctypes.py
Due: pylint-clickhouse-connect, pylint-tests

target ctypes directly
  tests/unit_tests/test_driver/test_ctypes.py
Due: pylint-tests

linting
  tests/helpers.py
  tests/unit_tests/test_driver/test_buffer.py
  tests/unit_tests/test_driver/test_exception_extraction.py
Due: pylint-tests

update changelog
  CHANGELOG.md
Due: none

fix sqlalchemy empty result metadata for orm queries (#678)
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-clickhouse-connect, pylint-tests

pivot cython optimization
  clickhouse_connect/driverc/dataconv.pyx
Due: none

Reenable default Cython runtime path and reestablish C/Python parity (#679)
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/driver/ctypes.py
  clickhouse_connect/driverc/buffer.pxd
  clickhouse_connect/driverc/buffer.pyx
  clickhouse_connect/driverc/dataconv.pyx
  clickhouse_connect/driverc/npconv.pyx
  tests/helpers.py
  tests/unit_tests/test_driver/test_buffer.py
  tests/unit_tests/test_driver/test_c_parity.py
  tests/unit_tests/test_driver/test_ctypes.py
  tests/unit_tests/test_driver/test_exception_extraction.py
Due: pylint-clickhouse-connect, pylint-tests

0.14.1 bugfix release prep
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

0.14.1 bugfix release prep (#680)
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

add Peter for reviews
  .github/CODEOWNERS
Due: none

add Peter for reviews (#682)
  .github/CODEOWNERS
Due: none

fix: handle TabSeparated response for DDL ON CLUSTER with comments (#499)
  clickhouse_connect/driver/transform.py
Due: pylint-clickhouse-connect

sqa dialect improvements
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
Due: pylint-clickhouse-connect

import shim
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/types.py
Due: pylint-clickhouse-connect

engine shim
  clickhouse_connect/cc_sqlalchemy/engines.py
Due: pylint-clickhouse-connect

implement alembic support
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/alembic/__init__.py
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/alembic/utils.py
  clickhouse_connect/cc_sqlalchemy/ddl/__init__.py
  setup.py
Due: pylint-clickhouse-connect

clickhouse dictionary support
  clickhouse_connect/cc_sqlalchemy/ddl/dictionary.py
Due: pylint-clickhouse-connect

compat shim
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
Due: pylint-clickhouse-connect

add alembic to test reqs
  tests/test_requirements.txt
Due: none

integration/unit tests
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-tests

update readme
  README.md
Due: none

fix to support sqa 1.4 and 2.x
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/ddl/dictionary.py
Due: pylint-clickhouse-connect

add alembic worked example
  clickhouse_connect/cc_sqlalchemy/alembic/WORKED_EXAMPLE.md
Due: none

consolidate duplicate code
  clickhouse_connect/cc_sqlalchemy/alembic/utils.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
Due: pylint-clickhouse-connect

add sql parse logic file
  clickhouse_connect/cc_sqlalchemy/sql/sqlparse.py
Due: pylint-clickhouse-connect

cloud quirk reflection fixes
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

comprehensive join support
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_select.py
  tests/unit_tests/test_sqlalchemy/test_ch_join.py
Due: pylint-clickhouse-connect, pylint-tests

fix for wrong values table function construction
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_values.py
  tests/unit_tests/test_sqlalchemy/test_values.py
Due: pylint-clickhouse-connect, pylint-tests

fix final and sample override bug
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_select.py
Due: pylint-clickhouse-connect, pylint-tests

support join using, and array join with multiple cols
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/clauses.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_array_join.py
  tests/integration_tests/test_sqlalchemy/test_select.py
  tests/unit_tests/test_sqlalchemy/test_array_join.py
  tests/unit_tests/test_sqlalchemy/test_ch_join.py
Due: pylint-clickhouse-connect, pylint-tests

adjustments for sqa1.4 compat
  README.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_values.py
  tests/unit_tests/test_sqlalchemy/test_values.py
Due: pylint-clickhouse-connect, pylint-tests

implement lazy loading of np, pd, pl, arrow
  CHANGELOG.md
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/datatypes/string.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/datatypes/vector.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/ctypes.py
  clickhouse_connect/driver/dataconv.py
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/npconv.py
  clickhouse_connect/driver/npquery.py
  clickhouse_connect/driver/options.py
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_qbit_type.py
Due: pylint-clickhouse-connect, pylint-tests

linting
  tests/integration_tests/test_arrow.py
  tests/integration_tests/test_async_client.py
  tests/integration_tests/test_external_data.py
  tests/integration_tests/test_numpy.py
  tests/integration_tests/test_pandas.py
  tests/integration_tests/test_pandas_compat.py
  tests/integration_tests/test_polars.py
  tests/unit_tests/test_qbit_type.py
Due: pylint-tests

simple ddl support for a few new engine types
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
