Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

Fix async connect retry limits and body replay safety
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

fix: retry aiohttp.ConnectionTimeoutError in async backend (#1012) (#1023)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  tests/integration_tests/test_error_handling.py
Due: pylint-clickhouse-connect, pylint-tests

fix(sqlalchemy): support explicit multi-row inserts (#1024) (#1025)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_server_side_params.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix executemany rewrite guards
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  tests/integration_tests/test_dbapi.py
  tests/integration_tests/test_sqlalchemy/test_inserts.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_native_insert.py
Due: pylint-clickhouse-connect, pylint-tests

fix dbapi executemany insert routing (#1015)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_dbapi.py
  tests/integration_tests/test_sqlalchemy/test_inserts.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_native_insert.py
  tests/unit_tests/test_sqlalchemy/test_query_settings.py
  tests/unit_tests/test_sqlalchemy/test_server_side_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix: quote identifiers on Arrow insert table names
  CHANGELOG.md
  clickhouse_connect/driver/_backend/orchestration.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy Decimal arithmetic type adaptation
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  tests/integration_tests/test_sqlalchemy/test_decimal_arithmetic.py
  tests/unit_tests/test_sqlalchemy/test_decimal_arithmetic.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy Decimal arithmetic type adaptation (#1028)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  tests/integration_tests/test_sqlalchemy/test_decimal_arithmetic.py
  tests/unit_tests/test_sqlalchemy/test_decimal_arithmetic.py
Due: pylint-clickhouse-connect, pylint-tests

Preserve negative zero in LowCardinality float inserts
  CHANGELOG.md
  clickhouse_connect/datatypes/base.py
  tests/unit_tests/test_low_card_negative_zero.py
Due: pylint-clickhouse-connect, pylint-tests

Annotate Nullable and LowCardinality as returning the wrapped type
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  tests/type_check/sqlalchemy_select_smoke.py
Due: pylint-clickhouse-connect, pylint-tests

fix: accept aware datetimes in Date and Date32 inserts
  CHANGELOG.md
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/temporal.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_driver/test_native_write.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy DateTime64 parameter precision
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_datetime64.py
  tests/unit_tests/test_sqlalchemy/test_datetime64.py
Due: pylint-clickhouse-connect, pylint-tests

Avoid insert deduplication in SQLAlchemy datetime precision test
  tests/integration_tests/test_sqlalchemy/test_datetime64.py
Due: pylint-tests

Document SQLAlchemy DateTime64 schema matching requirement
  docs/sqlalchemy.mdx
Due: none

fix: accept aware datetimes in Date and Date32 inserts (#1035)
  CHANGELOG.md
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/temporal.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_driver/test_native_write.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy DateTime64 parameter precision (#1036)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_datetime64.py
  tests/unit_tests/test_sqlalchemy/test_datetime64.py
Due: pylint-clickhouse-connect, pylint-tests

Fix async connection timeouts during pool waits
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/asyncclient.py
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_async_features.py
  tests/unit_tests/test_driver/test_async_timeouts.py
Due: pylint-clickhouse-connect, pylint-tests

Fix async connection timeouts during pool waits (#1037)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/asyncclient.py
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  tests/integration_tests/test_async_features.py
  tests/unit_tests/test_driver/test_async_timeouts.py
Due: pylint-clickhouse-connect, pylint-tests

Note the type inference compat caveat in the CHANGELOG
  CHANGELOG.md
Due: none

Fix pool cleanup after failed synchronous client construction
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/httputil.py
  tests/unit_tests/test_driver/test_httpclient_pools.py
Due: pylint-clickhouse-connect, pylint-tests

Preserve interrupts during failed client pool cleanup
  CHANGELOG.md
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_driver/test_httpclient_pools.py
Due: pylint-clickhouse-connect, pylint-tests

Fix pool cleanup after failed synchronous client construction (#1039)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/httputil.py
  tests/unit_tests/test_driver/test_httpclient_pools.py
Due: pylint-clickhouse-connect, pylint-tests

1.9.0rc1 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

1.9.0rc1 release prep (#1040)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Improve Rust codec query and pandas string performance
  CHANGELOG.md
  clickhouse_connect/driver/rustnumpy.py
  clickhouse_connect/driver/streaming.py
  docs/rust-codec.mdx
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Handle overlapping JSON paths instead of raising TypeError
  CHANGELOG.md
  clickhouse_connect/datatypes/dynamic.py
  tests/unit_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

Improve Rust codec query and pandas string performance (#1041)
  CHANGELOG.md
  clickhouse_connect/driver/rustnumpy.py
  clickhouse_connect/driver/streaming.py
  docs/rust-codec.mdx
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Prepare 1.9.0rc2 release
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Prepare 1.9.0rc2 release (#1043)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Fix Alembic offline schema initialization
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

Preserve empty Alembic version table schemas
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

Fix Alembic version table schema initialization (#1046)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

Fix default socket send-buffer sizing
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  docs/advanced-usage.mdx
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-clickhouse-connect, pylint-tests

Fix default socket send-buffer sizing (#1047)
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  docs/advanced-usage.mdx
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-clickhouse-connect, pylint-tests

Fix table engine constructors and summing column replay
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/integration_tests/test_sqlalchemy/test_tableengine.py
  tests/type_check/sqlalchemy_select_smoke.py
  tests/unit_tests/test_sqlalchemy/test_tableengine.py
Due: pylint-clickhouse-connect, pylint-tests

Fix table engine constructors and summing column replay (#1048)
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/integration_tests/test_sqlalchemy/test_tableengine.py
  tests/type_check/sqlalchemy_select_smoke.py
  tests/unit_tests/test_sqlalchemy/test_tableengine.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy 1.x CI dependency resolution
  .github/workflows/on_push.yml
Due: none

Fix flaky JSON dotted-key test on Cloud
  tests/integration_tests/test_dynamic.py
Due: pylint-tests

Fix Cloud JSON flake and SQLAlchemy 1.x CI dependencies (#1050)
  .github/workflows/on_push.yml
  tests/integration_tests/test_dynamic.py
Due: pylint-tests

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
