Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

Fix Rust insert crashes on free-threaded Python (#1076)
  .github/scripts/qualify_core_wheel.py
  .github/workflows/binding_ci.yml
  .github/workflows/publish_core.yml
  docs/rust-codec.mdx
  rust/ch-core-py/CHANGELOG.md
  rust/ch-core-py/src/insert/containers.rs
  rust/ch-core-py/src/insert/fastpath.rs
  rust/ch-core-py/src/insert/json.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/qbit.rs
  rust/ch-core-py/src/insert/special.rs
  rust/ch-core-py/src/insert/variant.rs
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/tests/test_containers.py
  rust/ch-core-py/tests/test_insert_concurrency.py
  rust/ch-core-py/tests/test_insert_fastpaths.py
  rust/ch-core-py/tests/test_intake_exits.py
Due: none

release prep for core 0.2.2
  rust/Cargo.lock
  rust/ch-core-py/CHANGELOG.md
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/README.md
Due: none

release prep for core 0.2.2 (#1077)
  rust/Cargo.lock
  rust/ch-core-py/CHANGELOG.md
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/README.md
Due: none

Fix free-threaded insert concurrency test timeouts
  rust/ch-core-py/tests/test_insert_concurrency.py
Due: none

Fix free-threaded insert concurrency test timeouts (#1078)
  rust/ch-core-py/tests/test_insert_concurrency.py
Due: none

Restrict HTTP retries to recognized reads and insert data
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/_backend/models.py
  clickhouse_connect/driver/_backendclient.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  docs/advanced-inserting.mdx
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_http_retries.py
  tests/unit_tests/test_driver/test_async_client_close_cleanup.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_binding.py
Due: pylint-clickhouse-connect, pylint-tests

Close WITH alias retry classifier gap and restore session guard coverage
  clickhouse_connect/driver/binding.py
  tests/unit_tests/test_driver/test_async_client_close_cleanup.py
  tests/unit_tests/test_driver/test_binding.py
Due: pylint-clickhouse-connect, pylint-tests

Restrict HTTP retries to recognized reads and insert data (#1080)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/_backend/models.py
  clickhouse_connect/driver/_backendclient.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  docs/advanced-inserting.mdx
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_http_retries.py
  tests/unit_tests/test_driver/test_async_client_close_cleanup.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_binding.py
Due: pylint-clickhouse-connect, pylint-tests

Fix row access after materializing query result columns
  CHANGELOG.md
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_driver/test_query_result.py
Due: pylint-clickhouse-connect, pylint-tests

Mention async column-oriented queries in row cache changelog
  CHANGELOG.md
Due: none

Fix row access after materializing query result columns (#1081)
  CHANGELOG.md
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_driver/test_query_result.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy dialect coexistence with clickhouse-sqlalchemy
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/_compat.py
  clickhouse_connect/cc_sqlalchemy/_schema.py
  clickhouse_connect/cc_sqlalchemy/alembic/WORKED_EXAMPLE.md
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/ddl/dictionary.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_dialect_coexistence.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy dialect coexistence with clickhouse-sqlalchemy (#1082)
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/MIGRATING_FROM_CLICKHOUSE_SQLALCHEMY.md
  clickhouse_connect/cc_sqlalchemy/__init__.py
  clickhouse_connect/cc_sqlalchemy/_compat.py
  clickhouse_connect/cc_sqlalchemy/_schema.py
  clickhouse_connect/cc_sqlalchemy/alembic/WORKED_EXAMPLE.md
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/ddl/dictionary.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_dialect_coexistence.py
Due: pylint-clickhouse-connect, pylint-tests

Fix Alembic comparison of server-pinned aggregate state versions
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

Fix Alembic comparison of server-pinned aggregate state versions (#1084)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

release prep for v1.10.0
  clickhouse_connect/_version.py
  rust/ch-core-py/CHANGELOG.md
Due: pylint-clickhouse-connect

add changelog update
  CHANGELOG.md
Due: none

Release/1.10.0 (#1085)
  CHANGELOG.md
  clickhouse_connect/_version.py
  rust/ch-core-py/CHANGELOG.md
Due: pylint-clickhouse-connect

Add CPython 3.15 support and wheels
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
  .github/workflows/publish_core.yml
  CHANGELOG.md
  docs/additional-options.mdx
  docs/index.mdx
  docs/rust-codec.mdx
  rust/ch-core-py/CHANGELOG.md
  rust/ch-core-py/pyproject.toml
  setup.py
Due: none
