Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

release prep for v1.9.0 (#1056)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Test large async external-data uploads and clarify TLS fix
  CHANGELOG.md
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-tests

Fix sync Rust stream session reuse after early close
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-clickhouse-connect, pylint-tests

Fix Rust read-ahead startup racing with stream cleanup
  CHANGELOG.md
  clickhouse_connect/driver/streaming.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Joe/pyarrow removal work (#1059)
  .github/scripts/qualify_core_wheel.py
  .github/workflows/binding_ci.yml
  .github/workflows/publish_core.yml
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/rustnumpy.py
  clickhouse_connect/driver/streaming.py
  docs/index.mdx
  docs/rust-codec.mdx
  rust/BINDING_ARCHITECTURE.md
  rust/Cargo.lock
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/README.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/buffers.rs
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/tests/test_array_buffers.py
  rust/ch-core-py/tests/test_buffers.py
  rust/ch-core-py/tests/test_dictionary_buffers.py
  setup.py
  tests/conftest.py
  tests/integration_tests/conftest.py
  tests/integration_tests/test_native.py
  tests/integration_tests/test_rust_codec.py
  tests/integration_tests/test_rust_codec_contract.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_httputil.py
  tests/unit_tests/test_driver/test_rustcodec.py
  tests/unit_tests/test_driver/test_rustcodec_lifecycle.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_driver/test_rustnumpy_buffers.py
  tests/unit_tests/test_integration_helpers.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Centralize ClickHouse server versions across CI
  .docker/clickhouse/single_node_tls/Dockerfile
  .github/clickhouse-versions.json
  .github/workflows/binding_ci.yml
  .github/workflows/clickhouse-versions.yml
  .github/workflows/on_push.yml
  .github/workflows/publish_core.yml
  docker-compose.yml
  docs/index.mdx
Due: none

Centralize ClickHouse server versions across CI (#1060)
  .docker/clickhouse/single_node_tls/Dockerfile
  .github/clickhouse-versions.json
  .github/workflows/binding_ci.yml
  .github/workflows/clickhouse-versions.yml
  .github/workflows/on_push.yml
  .github/workflows/publish_core.yml
  docker-compose.yml
  docs/index.mdx
Due: none

Add context manager protocol to DB-API Connection and Cursor
  CHANGELOG.md
  clickhouse_connect/dbapi/connection.py
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_dbapi.py
Due: pylint-clickhouse-connect, pylint-tests

Isolate parametrized Arrow stream insert tables
  tests/integration_tests/test_async_features.py
Due: pylint-tests

Complete DB-API context manager typing and coverage
  CHANGELOG.md
  clickhouse_connect/dbapi/connection.py
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  tests/integration_tests/test_dbapi.py
Due: pylint-clickhouse-connect, pylint-tests

Offload async Arrow insert encoding (#1055)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  docs/advanced-usage.mdx
  tests/integration_tests/test_async_features.py
  tests/unit_tests/test_driver/test_async_arrow.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Make async external data replayable (#1058)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/http_async.py
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-clickhouse-connect, pylint-tests

Add context manager protocol to DB-API Connection and Cursor (#1061)
  CHANGELOG.md
  clickhouse_connect/dbapi/connection.py
  clickhouse_connect/dbapi/cursor.py
  docs/driver-api.mdx
  tests/integration_tests/test_dbapi.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy GROUP BY label resolution
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_group_by_labels.py
  tests/unit_tests/test_sqlalchemy/test_group_by_labels.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy GROUP BY label resolution (#1063)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_group_by_labels.py
  tests/unit_tests/test_sqlalchemy/test_group_by_labels.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy wrapper return type annotations
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  docs/sqlalchemy.mdx
  tests/type_check/sqlalchemy_select_smoke.py
Due: pylint-clickhouse-connect, pylint-tests

Fix SQLAlchemy wrapper return type annotations (#1064)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  docs/sqlalchemy.mdx
  tests/type_check/sqlalchemy_select_smoke.py
Due: pylint-clickhouse-connect, pylint-tests

Fix HTTP stream read and close races
  CHANGELOG.md
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driverc/buffer.pyx
  docs/advanced-querying.mdx
  tests/integration_tests/test_streaming.py
  tests/unit_tests/test_driver/test_httputil.py
  tests/unit_tests/test_driver/test_response_source_lifecycle.py
Due: pylint-clickhouse-connect, pylint-tests

fix tests in 3.10
  tests/unit_tests/test_driver/test_response_source_lifecycle.py
Due: pylint-tests

Fix HTTP stream read and close races (#1065)
  CHANGELOG.md
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driverc/buffer.pyx
  docs/advanced-querying.mdx
  tests/integration_tests/test_streaming.py
  tests/unit_tests/test_driver/test_httputil.py
  tests/unit_tests/test_driver/test_response_source_lifecycle.py
Due: pylint-clickhouse-connect, pylint-tests

Keep the insert query_id off the internal DESCRIBE TABLE
  CHANGELOG.md
  clickhouse_connect/driver/_backend/orchestration.py
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_backend_orchestration.py
Due: pylint-clickhouse-connect, pylint-tests

Modernize CI actions and runner images
  .github/workflows/binding_ci.yml
  .github/workflows/clickhouse-versions.yml
  .github/workflows/clickhouse_ci.yml
  .github/workflows/docs_sync.yml
  .github/workflows/docs_verify.yml
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
  .github/workflows/publish_core.yml
Due: none

Install timezone data explicitly for CI tests
  tests/test_requirements.txt
Due: none

Remove obsolete cibuildwheel skip selectors
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Modernize CI actions and runner images (#1068)
  .github/workflows/binding_ci.yml
  .github/workflows/clickhouse-versions.yml
  .github/workflows/clickhouse_ci.yml
  .github/workflows/docs_sync.yml
  .github/workflows/docs_verify.yml
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
  .github/workflows/publish_core.yml
  pyproject.toml
  tests/test_requirements.txt
Due: none

Keep insert metadata query IDs independent of client defaults
  CHANGELOG.md
  clickhouse_connect/driver/_backend/orchestration.py
  docs/advanced-inserting.mdx
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_backend_orchestration.py
Due: pylint-clickhouse-connect, pylint-tests

Document independent driver and core package releases
  AGENTS.md
  CHANGELOG.md
  README.md
  rust/ch-core-py/CHANGELOG.md
  rust/ch-core-py/README.md
Due: none

Document independent driver and core package releases (#1069)
  AGENTS.md
  CHANGELOG.md
  README.md
  rust/ch-core-py/CHANGELOG.md
  rust/ch-core-py/README.md
Due: none

Keep the insert query_id off the internal DESCRIBE TABLE (#1067)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/orchestration.py
  docs/advanced-inserting.mdx
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_backend_orchestration.py
Due: pylint-clickhouse-connect, pylint-tests

Fix decoding of Dynamic shared values
  CHANGELOG.md
  clickhouse_connect/datatypes/binary_value.py
  clickhouse_connect/datatypes/dynamic.py
  docs/rust-codec.mdx
  tests/integration_tests/test_dynamic.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_binary_value.py
  tests/unit_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

Document shared Dynamic Date codec differences
  docs/rust-codec.mdx
Due: none

Align regression tests with SQLAlchemy 2.1 behavior
  tests/integration_tests/test_sqlalchemy/test_datetime64.py
  tests/unit_tests/test_sqlalchemy/test_decimal_arithmetic.py
Due: pylint-tests

Fix decoding of Dynamic shared values (#1071)
  CHANGELOG.md
  clickhouse_connect/datatypes/binary_value.py
  clickhouse_connect/datatypes/dynamic.py
  docs/rust-codec.mdx
  tests/integration_tests/test_dynamic.py
  tests/integration_tests/test_rust_codec.py
  tests/integration_tests/test_sqlalchemy/test_datetime64.py
  tests/unit_tests/test_binary_value.py
  tests/unit_tests/test_dynamic.py
  tests/unit_tests/test_sqlalchemy/test_decimal_arithmetic.py
Due: pylint-clickhouse-connect, pylint-tests

Stop DateTime64 bind-signature unwrap from looping on self-adapting TypeDecorators
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  tests/unit_tests/test_sqlalchemy/test_bind_signature.py
Due: pylint-clickhouse-connect, pylint-tests

Reflect views and raise NoSuchTableError for missing tables
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_sqlalchemy/test_query_formats.py
Due: pylint-clickhouse-connect, pylint-tests

Add changelog entry for TypeDecorator bind-signature loop fix
  CHANGELOG.md
Due: none

Add changelog entry for view reflection and NoSuchTableError fixes
  CHANGELOG.md
Due: none

Fix Rust insert crashes on free-threaded Python
  .github/scripts/qualify_core_wheel.py
  .github/workflows/binding_ci.yml
  .github/workflows/publish_core.yml
  docs/rust-codec.mdx
  rust/ch-core-py/CHANGELOG.md
  rust/ch-core-py/src/insert/containers.rs
  rust/ch-core-py/src/insert/fastpath.rs
  rust/ch-core-py/src/insert/json.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/qbit.rs
  rust/ch-core-py/src/insert/special.rs
  rust/ch-core-py/src/insert/variant.rs
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/tests/test_containers.py
  rust/ch-core-py/tests/test_insert_concurrency.py
  rust/ch-core-py/tests/test_insert_fastpaths.py
Due: none

Harden free-threaded encoding and wheel qualification
  .github/scripts/qualify_core_wheel.py
  .github/workflows/binding_ci.yml
  rust/ch-core-py/src/insert/json.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/special.rs
  rust/ch-core-py/tests/test_insert_concurrency.py
  rust/ch-core-py/tests/test_intake_exits.py
Due: none

Document free-threaded core import behavior
  docs/rust-codec.mdx
Due: none
