Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

Add docs sync workflow to ClickHouse/ClickHouse (#859)
  .github/workflows/docs_sync.yml
Due: none

implement map and tuple decode
  rust/COMPLETENESS.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
Due: none

add typed read format for Variant columns
  CHANGELOG.md
  clickhouse_connect/datatypes/dynamic.py
  tests/integration_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

add typed read format for Variant columns (#860)
  CHANGELOG.md
  clickhouse_connect/datatypes/dynamic.py
  tests/integration_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

decode LEB128 varints >= 2^31 on the compiled cython path
  CHANGELOG.md
  clickhouse_connect/driverc/buffer.pyx
  tests/unit_tests/test_driver/test_buffer.py
Due: pylint-tests

decode LEB128 varints >= 2^31 on the compiled cython path (#861)
  CHANGELOG.md
  clickhouse_connect/driverc/buffer.pyx
  tests/unit_tests/test_driver/test_buffer.py
Due: pylint-tests

Add Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

implement map and tuple encode and decode
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/driver/rustcodec.py
  rust/COMPLETENESS.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-clickhouse-connect, pylint-tests

decompress during not after in rust buffer path
  clickhouse_connect/driver/rustcodec.py
  rust/COMPLETENESS.md
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

Add Code of Conduct (#862)
  CODE_OF_CONDUCT.md
Due: none

implement wide ints support
  rust/BINDING_ARCHITECTURE.md
  rust/Cargo.lock
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/build.rs
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-tests

start pluggable backend refactor work
  clickhouse_connect/driver/backend/__init__.py
  clickhouse_connect/driver/backend/contracts.py
  clickhouse_connect/driver/backend/models.py
  clickhouse_connect/driver/backend/operations.py
  clickhouse_connect/driver/backend/orchestration.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/models.py
  tests/unit_tests/test_backend_seam.py
Due: pylint-clickhouse-connect, pylint-tests

fix async date_time_input_format
  clickhouse_connect/driver/asyncclient.py
  tests/integration_tests/test_client.py
Due: pylint-clickhouse-connect, pylint-tests

implement time/time64 types in binding
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/rustnumpy.py
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_inserts.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_driver/test_temporal.py
Due: pylint-clickhouse-connect, pylint-tests

implement phase 2 shared core orchestration in both clients
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/backend/adapters.py
  clickhouse_connect/driver/backend/contracts.py
  clickhouse_connect/driver/backend/models.py
  clickhouse_connect/driver/backend/orchestration.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_backend_seam.py
Due: pylint-clickhouse-connect, pylint-tests

put transports behind the backend objects
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/backend/adapters.py
  clickhouse_connect/driver/backend/http_async.py
  clickhouse_connect/driver/backend/http_sync.py
  clickhouse_connect/driver/backend/httpcommon.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/streaming.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_token_provider.py
Due: pylint-clickhouse-connect, pylint-tests

docs: require a CHANGELOG entry for user-facing changes
  .agents/review.md
  AGENTS.md
Due: none

Bump the [chdb] extra to chdb>=4.2.1, the first release shipping the backend
  setup.py
Due: none

ci: add StressHouse PR-vs-main benchmark workflow
  .github/workflows/stresshouse-benchmark-compare.yml
Due: none

add support for geo types and simpleagg
  rust/COMPLETENESS.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-tests

collapse query path refactor
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/backend/http_async.py
  clickhouse_connect/driver/backend/http_sync.py
  clickhouse_connect/driver/backend/httpcommon.py
  clickhouse_connect/driver/backend/models.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

backend refactor: command collapse
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/backend/http_async.py
  clickhouse_connect/driver/backend/http_sync.py
  clickhouse_connect/driver/backend/httpcommon.py
  clickhouse_connect/driver/backend/models.py
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

backend refactor: insert twin collapse
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/backend/http_async.py
  clickhouse_connect/driver/backend/http_sync.py
  clickhouse_connect/driver/backend/httpcommon.py
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

backend refactor: _prep_raw_query unification
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/backend/http_async.py
  clickhouse_connect/driver/backend/http_sync.py
  clickhouse_connect/driver/backend/httpcommon.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

backend refactor: contract elevation, adapter removal, auth header convergence
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/backend/adapters.py
  clickhouse_connect/driver/backend/contracts.py
  clickhouse_connect/driver/backend/http_async.py
  clickhouse_connect/driver/backend/http_sync.py
  clickhouse_connect/driver/backend/models.py
  clickhouse_connect/driver/backend/orchestration.py
  clickhouse_connect/driver/client.py
  tests/unit_tests/test_backend_seam.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

rust codec df-parity fix
  clickhouse_connect/driver/rustnumpy.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
Due: pylint-clickhouse-connect, pylint-tests

simpagg and geo fix/tests
  clickhouse_connect/driver/rustnumpy.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-clickhouse-connect, pylint-tests

add support for interval types in rust binding
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/driver/rustnumpy.py
  rust/README.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_numeric.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_chtypes.py
  tests/unit_tests/test_driver/test_rustnumpy.py
Due: pylint-clickhouse-connect, pylint-tests

add experimental chdb backend
  CHANGELOG.md
  README.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/backend/chdb_backend.py
  clickhouse_connect/driver/backendclient.py
  clickhouse_connect/driver/chdbclient.py
  clickhouse_connect/driver/httpclient.py
  pyproject.toml
  setup.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

rust binding bfloat16 support
  clickhouse_connect/datatypes/numeric.py
  clickhouse_connect/driver/rustnumpy.py
  rust/README.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_numeric.py
  tests/unit_tests/test_driver/test_rustnumpy.py
Due: pylint-clickhouse-connect, pylint-tests

fix command() returns empty string for empty result sets
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

indent docstring
  clickhouse_connect/driver/client.py
Due: pylint-clickhouse-connect

implement Nothing type
  clickhouse_connect/datatypes/special.py
  rust/COMPLETENESS.md
  rust/README.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-clickhouse-connect, pylint-tests

fix command() returns empty string for empty result sets (#867)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

docs: require a CHANGELOG entry for user-facing changes (#863)
  .agents/review.md
  AGENTS.md
Due: none

ci: add StressHouse PR-vs-main benchmark workflow (#864)
  .github/workflows/stresshouse-benchmark-compare.yml
Due: none

implement aggregatefunction support
  rust/BINDING_ARCHITECTURE.md
  rust/COMPLETENESS.md
  rust/README.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-tests

add some tests
  rust/COMPLETENESS.md
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-tests

fix QBit native insert and read for dimension > 8
  CHANGELOG.md
  clickhouse_connect/datatypes/vector.py
  tests/integration_tests/test_vector.py
  tests/unit_tests/test_qbit_type.py
Due: pylint-clickhouse-connect, pylint-tests

Update changelog
  CHANGELOG.md
Due: none

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
