Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

Fix issue #638: Allow explicit sending of settings matching server defaults
  clickhouse_connect/driver/client.py
  tests/unit_tests/test_driver/test_settings_validation.py
Due: pylint-clickhouse-connect, pylint-tests

auto enable readonly queries on client close
  CHANGELOG.md
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

fix: handle Etc/UTC timezone equivalence for naive datetime conversion (#621)
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
  clickhouse_connect/driver/tzutil.py
  tests/integration_tests/test_polars.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

respect user override
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

Fix mypy typing errors by explicitly exporting Client
  clickhouse_connect/driver/__init__.py
Due: pylint-clickhouse-connect

Fix percent sign double encoding in SQLAlchemy string literals
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
Due: pylint-clickhouse-connect

auto enable cancel readonly queries on client close (#642)
  CHANGELOG.md
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

reimplement without window, require marker + tag
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/transform.py
Due: pylint-clickhouse-connect

update cloud test server info
  .github/workflows/clickhouse_ci.yml
  .github/workflows/on_push.yml
Due: none

fix unit tests to match correct tag format
  tests/unit_tests/test_driver/test_exception_extraction.py
Due: pylint-tests

Joe/626 add support for mid stream exception detection via x clickhouse exception tag header (#637)
  CHANGELOG.md
  clickhouse_connect/driver/buffer.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/httputil.py
  clickhouse_connect/driver/transform.py
  tests/integration_tests/test_mid_stream_exception.py
  tests/unit_tests/test_driver/test_exception_extraction.py
Due: pylint-clickhouse-connect, pylint-tests

raise operationalerror when hitting network failure prior to receiving data in responsesource (#622)
  CHANGELOG.md
  clickhouse_connect/driver/httputil.py
  tests/unit_tests/test_driver/test_httputil.py
Due: pylint-clickhouse-connect, pylint-tests

Fix mypy typing errors by explicitly exporting Client (#643)
  clickhouse_connect/driver/__init__.py
Due: pylint-clickhouse-connect

0.11.0 release prep
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

0.11.0 release prep (#647)
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

fix: add update to the list of commands
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

Fix percent encoding for both parameterized and non-parameterized queries
  clickhouse_connect/cc_sqlalchemy/sql/preparer.py
  clickhouse_connect/dbapi/cursor.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-clickhouse-connect, pylint-tests

Add type annotations to public API methods
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

update cloud test server info (#650)
  .github/workflows/clickhouse_ci.yml
  .github/workflows/on_push.yml
Due: none

feature parity with recent sync client changes
  clickhouse_connect/driver/aiohttp_client.py
  clickhouse_connect/driver/streaming.py
  tests/integration_tests/test_mid_stream_exception.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

fix jwt test after bad merge conflict resolution
  tests/integration_tests/test_jwt_auth.py
Due: pylint-tests

0.12.0rc1 release prep
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

fix assertion in racy test
  tests/integration_tests/test_streaming.py
Due: pylint-tests

clean up streaming source on exception
  clickhouse_connect/driver/aiohttp_client.py
Due: pylint-clickhouse-connect

add "schema" mode for utc_tz_aware to match server col def
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

tighten type hint
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

update changelog
  CHANGELOG.md
Due: none

Fix errors when doing lightweight UPDATE with execute (#648)
  CHANGELOG.md
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

Add utc_tz_aware="schema" mode for schema-matching datetime output (#653)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

Implement Variant write path with type-aware dispatching (#534)
  CHANGELOG.md
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/string.py
  tests/integration_tests/test_dynamic.py
  tests/unit_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

Implement Variant write path with type-aware dispatching (#534) (#651)
  CHANGELOG.md
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/string.py
  tests/integration_tests/test_dynamic.py
  tests/unit_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

add group by alias rendering to sqa compiler
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/unit_tests/test_sqlalchemy/test_group_by_labels.py
Due: pylint-clickhouse-connect, pylint-tests

Fix pylint W0212 and add CHANGELOG entry
  CHANGELOG.md
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-tests

Fix percent sign double encoding in SQLAlchemy string literals (#644)
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_sqlalchemy/test_percent_encoding.py
Due: pylint-clickhouse-connect, pylint-tests

Add type annotations to public API methods
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

Add type annotations to public API methods (#649)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

Add GROUP BY alias rendering to ClickHouse SQLAlchemy compiler (#655)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/unit_tests/test_sqlalchemy/test_group_by_labels.py
Due: pylint-clickhouse-connect, pylint-tests

0.13.0 release prep
  CHANGELOG.md
  clickhouse_connect/__version__.py
Due: pylint-clickhouse-connect

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
