Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

address review comments
  .agents/review.md
  .github/copilot-instructions.md
  .github/skills/code-review/SKILL.md
Due: none

update review instructions and arch metadata (#976)
  .agents/architecture.md
  .agents/review.md
  .github/copilot-instructions.md
  .github/skills/code-review/SKILL.md
Due: none

Joe/fix arrow trailing semicolon (#970)
  CHANGELOG.md
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
  tests/integration_tests/test_arrow.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_binding.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_query.py
Due: pylint-clickhouse-connect, pylint-tests

Complete Kerberos authentication support
  .github/workflows/on_push.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/kerberos.py
  docs/driver-api.mdx
  docs/index.mdx
  pyproject.toml
  setup.py
  tests/integration_tests/test_kerberos.py
  tests/test_requirements.txt
  tests/unit_tests/test_driver/test_kerberos.py
Due: pylint-clickhouse-connect, pylint-tests

Mark Kerberos experimental
  CHANGELOG.md
  README.md
  docs/driver-api.mdx
  docs/index.mdx
Due: none

warn on ignored SQLAlchemy table hints
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  docs/sqlalchemy.mdx
  tests/unit_tests/test_sqlalchemy/test_select_hints.py
Due: pylint-clickhouse-connect, pylint-tests

fix SQLAlchemy DISTINCT set operations
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_compound_select.py
  tests/unit_tests/test_sqlalchemy/test_compound_select.py
Due: pylint-clickhouse-connect, pylint-tests

warn on ignored SQLAlchemy table hints (#977)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  docs/sqlalchemy.mdx
  tests/unit_tests/test_sqlalchemy/test_select_hints.py
Due: pylint-clickhouse-connect, pylint-tests

fix SQLAlchemy DISTINCT set operations (#978)
  CHANGELOG.md
  README.md
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_compound_select.py
  tests/unit_tests/test_sqlalchemy/test_compound_select.py
Due: pylint-clickhouse-connect, pylint-tests

fix SQLAlchemy engine-bound table reflection
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/inspector.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-clickhouse-connect, pylint-tests

fix SQLAlchemy engine-bound table reflection (#979)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/inspector.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-clickhouse-connect, pylint-tests

release prep for 1.7.2
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

release prep for 1.7.2 (#980)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

release prep for v1.8.0rc2
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

release prep for v1.8.0rc2 (#982)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

update minimum supported version of alembic
  setup.py
  tests/test_requirements.txt
Due: none

docs: add missing colons to :param directives in docstrings
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

fix dialect-aware SQLAlchemy DDL types
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

fix dialect-aware SQLAlchemy DDL types (#987)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

docs: add missing colons to :param directives in docstrings (#986)
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/query.py
Due: pylint-clickhouse-connect

document Alembic 1.18 minimum
  CHANGELOG.md
Due: none

update minimum supported version of alembic (#983)
  CHANGELOG.md
  setup.py
  tests/test_requirements.txt
Due: none

add SQLAlchemy JSON type hints and canonical driver type names
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/registry.py
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/parser.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_dynamic.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/type_check/sqlalchemy_select_smoke.py
  tests/unit_tests/test_driver/test_parser.py
  tests/unit_tests/test_driver/test_temporal.py
  tests/unit_tests/test_dynamic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

resolve typing issues
  .github/workflows/on_push.yml
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/registry.py
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/temporal.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

fix json typed test on early servers
  tests/integration_tests/test_sqlalchemy/test_alembic.py
Due: pylint-tests

fix Time64 DataFrame inserts
  CHANGELOG.md
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/insert.py
  docs/advanced-inserting.mdx
  tests/integration_tests/test_temporal.py
Due: pylint-clickhouse-connect, pylint-tests

fix versioned AggregateFunction parsing and Time64 NaT inserts
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/insert.py
  tests/integration_tests/test_temporal.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

fix Alembic named container rendering
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

update docs
  docs/additional-options.mdx
Due: none

add SQLAlchemy JSON type hints and canonical driver type names (#991)
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/dynamic.py
  clickhouse_connect/datatypes/registry.py
  clickhouse_connect/datatypes/special.py
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/binding.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/parser.py
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  docs/sqlalchemy.mdx
  tests/integration_tests/test_dynamic.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/integration_tests/test_temporal.py
  tests/type_check/sqlalchemy_select_smoke.py
  tests/unit_tests/test_driver/test_parser.py
  tests/unit_tests/test_driver/test_temporal.py
  tests/unit_tests/test_dynamic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

fix Alembic named container rendering (#993)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

Do not emit a phantom column for an empty argument list
  clickhouse_connect/driver/parser.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

fix sqa variant reflection
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

Handle overlapping JSON paths in _nest_value
  clickhouse_connect/datatypes/dynamic.py
  tests/unit_tests/test_dynamic.py
Due: pylint-clickhouse-connect, pylint-tests

keep Variant reflection type private
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

fix sqa variant reflection (#1000)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  docs/sqlalchemy.mdx
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

Do not bulk insert a VALUES list holding expressions
  clickhouse_connect/dbapi/cursor.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests

Add CHANGELOG entry
  CHANGELOG.md
Due: none

Bracket IPv6 hosts when building the connection URI
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/common.py
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
