Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

add clickhouse alembic DDL helpers
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/WORKED_EXAMPLE.md
  clickhouse_connect/cc_sqlalchemy/alembic/__init__.py
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/alembic/operations.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

normalizing Mapping subclasses in autogen renderers
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

implement rust core binding insert path support
  clickhouse_connect/datatypes/temporal.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/transform.py
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_inserts.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_insert.py
  tests/unit_tests/test_driver/test_temporal.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

narrow alembic helper public API
  clickhouse_connect/cc_sqlalchemy/alembic/__init__.py
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/alembic/operations.py
  clickhouse_connect/cc_sqlalchemy/alembic/utils.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

fix aiohttp resource waning
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
Due: pylint-clickhouse-connect

1.4.2 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

fix aiohttp resource waning (#852)
  CHANGELOG.md
  clickhouse_connect/driver/asyncclient.py
Due: pylint-clickhouse-connect

fix docs links for the new Mintlify site layout (#794)
  docs/advanced-querying.mdx
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  docs/index.mdx
Due: none

add native_codec rust codec selector
  clickhouse_connect/common.py
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/streaming.py
  clickhouse_connect/driver/transform.py
  clickhouse_connect/driver/types.py
  clickhouse_connect/driverc/buffer.pxd
  tests/integration_tests/conftest.py
  tests/integration_tests/test_inserts.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_buffer.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_insert.py
  tests/unit_tests/test_driver/test_rustcodec.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

address copilot reviews
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
Due: pylint-clickhouse-connect

fix sqlalchemy select typing after add_columns (#848)
  .github/workflows/on_push.yml
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  tests/type_check/consumer_smoke.py
  tests/type_check/sqlalchemy_select_smoke.py
  tests/unit_tests/test_sqlalchemy/test_ch_select.py
Due: pylint-clickhouse-connect, pylint-tests

Joe/839 alembic helpers for common clickhouse ddl operations (#851)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/alembic/WORKED_EXAMPLE.md
  clickhouse_connect/cc_sqlalchemy/alembic/__init__.py
  clickhouse_connect/cc_sqlalchemy/alembic/adapter.py
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  clickhouse_connect/cc_sqlalchemy/alembic/operations.py
  clickhouse_connect/cc_sqlalchemy/alembic/utils.py
  clickhouse_connect/cc_sqlalchemy/sql/__init__.py
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
  tests/unit_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

Use the scoped docs validate from ClickHouse/ClickHouse#109585
  .github/workflows/docs_verify.yml
Due: none

test: add an import which doesn't resolve
  docs/advanced-usage.mdx
Due: none

test: revert test change
  docs/advanced-usage.mdx
Due: none

fix sqlalchemy result_processor signature
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

implement codec choice
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/rustnumpy.py
  clickhouse_connect/driver/streaming.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustcodec.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

Add Mintlify docs verification workflow (#778)
  .github/workflows/docs_verify.yml
Due: none

SQLAlchemy: has_database() should use SHOW DATABASES
  clickhouse_connect/cc_sqlalchemy/dialect.py
  tests/unit_tests/test_sqlalchemy/test_has_database.py
Due: pylint-clickhouse-connect, pylint-tests

fix sqlalchemy result_processor signature (#853)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/base.py
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

optimize and harden rust codec read and insert paths for fixed-width types
  clickhouse_connect/driver/rustcodec.py
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

don't override per query settings
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  tests/unit_tests/test_sqlalchemy/test_query_settings.py
Due: pylint-clickhouse-connect, pylint-tests

test engine-level settings compose with per-statement settings
  tests/unit_tests/test_sqlalchemy/test_query_settings.py
Due: pylint-tests

don't override per query settings (#855)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  tests/unit_tests/test_sqlalchemy/test_query_settings.py
Due: pylint-clickhouse-connect, pylint-tests

optimization pass for reads and writes
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-tests

Refactor DDL compiler to process defaults after materialized and alias
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
Due: pylint-clickhouse-connect

support DESC and expressions in MergeTree engine key clauses
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

fix SQA 1.x import and version-gate DESC engine test
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

use EXISTS DATABASE in has_database and add changelog entry
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  tests/unit_tests/test_sqlalchemy/test_has_database.py
Due: pylint-clickhouse-connect, pylint-tests

Add docs sync workflow to ClickHouse/ClickHouse
  .github/workflows/docs_sync.yml
Due: none

SQLAlchemy: use SHOW DATABASES in has_database() to include DataLakeCatalog databases (closes #849) (#854)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/dialect.py
  tests/unit_tests/test_sqlalchemy/test_has_database.py
Due: pylint-clickhouse-connect, pylint-tests

implement array(t) encode and decode
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
Due: none

support DESC and expressions in MergeTree engine key clauses (#858)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/ddl/tableengine.py
  clickhouse_connect/cc_sqlalchemy/sql/compiler.py
  tests/integration_tests/test_sqlalchemy/test_ddl.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

fix materialized/alias column DDL options and clause order
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

Refactor SQLalchemy DDL compiler to process defaults after materialized and alias (#857)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/sql/ddlcompiler.py
  tests/unit_tests/test_sqlalchemy/test_ddl.py
Due: pylint-clickhouse-connect, pylint-tests

array(t) optimization pass
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-tests

make review scope 'all' rather than 'major'
  .github/workflows/docs_sync.yml
Due: none

update changelog, update test
  CHANGELOG.md
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-tests

fix(driver): unescape compound backtick identifiers (#821)
  CHANGELOG.md
  clickhouse_connect/driver/common.py
  tests/unit_tests/test_driver/test_cursor.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests
