Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint-clickhouse-connect
        name: pylint (clickhouse_connect)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^clickhouse_connect/.*\.py$

      - id: pylint-tests
        name: pylint (tests)
        entry: pylint
        language: system
        types: [python]
        pass_filenames: true
        files: ^tests/.*\.py$

fix QBit native insert and read for dimension > 8 (#868)
  CHANGELOG.md
  clickhouse_connect/datatypes/vector.py
  tests/integration_tests/test_vector.py
  tests/unit_tests/test_qbit_type.py
Due: pylint-clickhouse-connect, pylint-tests

v1.5.0 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

v1.5.0 release prep (#869)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

Include changelog metadata in docs sync PRs
  .github/workflows/docs_sync.yml
Due: none

Update additional-options.mdx
  docs/additional-options.mdx
Due: none

Prefix docs sync PR titles
  .github/workflows/docs_sync.yml
Due: none

Docs: Include changelog metadata in docs sync PRs (#870)
  .github/workflows/docs_sync.yml
Due: none

checkpoint
  CHANGELOG.md
  clickhouse_connect/driver/backend/orchestration.py
  tests/unit_tests/test_backend_orchestration.py
  tests/unit_tests/test_driver/test_backend_http.py
Due: pylint-clickhouse-connect, pylint-tests

Update additional-options.mdx (#871)
  docs/additional-options.mdx
Due: none

implement variant encode and decode in rust binding
  clickhouse_connect/driver/rustcodec.py
  rust/BINDING_ARCHITECTURE.md
  rust/COMPLETENESS.md
  rust/README.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/conftest.py
  tests/integration_tests/test_dynamic.py
  tests/integration_tests/test_rust_codec.py
Due: pylint-clickhouse-connect, pylint-tests

added comments
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
Due: pylint-clickhouse-connect

adding metadata comment for website usage
  docs/index.mdx
Due: none

adding metadata comment for website usage (#873)
  docs/index.mdx
Due: none

fix typing issues
  .github/workflows/on_push.yml
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/_backend/__init__.py
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_backend/contracts.py
  clickhouse_connect/driver/_backend/http_async.py
  clickhouse_connect/driver/_backend/http_sync.py
  clickhouse_connect/driver/_backend/httpcommon.py
  clickhouse_connect/driver/_backend/models.py
  clickhouse_connect/driver/_backend/operations.py
  clickhouse_connect/driver/_backend/orchestration.py
  clickhouse_connect/driver/_backendclient.py
  clickhouse_connect/driver/_chdbclient.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/client.py
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_backend_orchestration.py
  tests/unit_tests/test_driver/test_backend_http.py
  tests/unit_tests/test_driver/test_chdb.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_token_provider.py
Due: pylint-clickhouse-connect, pylint-tests

ruff
  tests/unit_tests/test_backend_orchestration.py
  tests/unit_tests/test_driver/test_httpclient.py
  tests/unit_tests/test_driver/test_token_provider.py
Due: pylint-tests

address pr comments
  clickhouse_connect/driver/_backend/chdb_backend.py
  clickhouse_connect/driver/_chdbclient.py
  tests/unit_tests/test_driver/test_chdb.py
Due: pylint-clickhouse-connect, pylint-tests

implement dynamic type in rust binding
  clickhouse_connect/datatypes/base.py
  clickhouse_connect/driver/rustcodec.py
  rust/COMPLETENESS.md
  rust/README.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_insert.py
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

fix: escape dict-valued settings as ClickHouse map literals (#501)
  CHANGELOG.md
  clickhouse_connect/driver/client.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Move integration metadata from index.mdx comment to docs/_meta.yml
  docs/_meta.yml
  docs/index.mdx
Due: none

initial json type binding support
  clickhouse_connect/driver/rustcodec.py
  rust/COMPLETENESS.md
  rust/README.md
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

json perf optimization pass
  clickhouse_connect/driver/rustcodec.py
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustcodec.py
Due: pylint-clickhouse-connect, pylint-tests

fix: escape dict-valued settings as ClickHouse map literals (#501) (#874)
  CHANGELOG.md
  clickhouse_connect/driver/client.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

add simple quickstart
  docs/_meta.yml
  examples/quickstart.py
Due: none

implement geometry type in binding
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/datatypes/container.py
  clickhouse_connect/datatypes/geometric.py
  clickhouse_connect/datatypes/postinit.py
  clickhouse_connect/datatypes/registry.py
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/tests/test_bindings.py
  tests/integration_tests/test_geometric.py
  tests/integration_tests/test_rust_codec.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
  tests/unit_tests/test_driver/test_native_read.py
  tests/unit_tests/test_driver/test_native_write.py
  tests/unit_tests/test_sqlalchemy/test_types.py
Due: pylint-clickhouse-connect, pylint-tests

fix test failing on head
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-tests

Docs: move integration metadata from index.mdx comment to docs/_meta.yml (#875)
  docs/_meta.yml
  docs/index.mdx
  examples/quickstart.py
Due: none

fix test failing on head (#876)
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-tests

temp: reject qbit
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert.rs
Due: none

re-layout of rust binding phase 1
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/lib.rs
  rust/ch-core-py/src/pyval/containers.rs
  rust/ch-core-py/src/pyval/ctx.rs
  rust/ch-core-py/src/pyval/errors.rs
  rust/ch-core-py/src/pyval/fixed.rs
  rust/ch-core-py/src/pyval/json.rs
  rust/ch-core-py/src/pyval/mod.rs
  rust/ch-core-py/src/pyval/ptr.rs
  rust/ch-core-py/src/pyval/scalar.rs
  rust/ch-core-py/src/pyval/temporal.rs
  rust/ch-core-py/src/pyval/variant_dynamic.rs
Due: none

re-layout of rust binding phase 2
  rust/ch-core-py/src/insert.rs
  rust/ch-core-py/src/insert/containers.rs
  rust/ch-core-py/src/insert/fastpath.rs
  rust/ch-core-py/src/insert/json.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/scalar.rs
  rust/ch-core-py/src/insert/special.rs
  rust/ch-core-py/src/insert/temporal.rs
  rust/ch-core-py/src/insert/variant.rs
Due: none

re-layout of rust binding phase 3
  rust/ch-core-py/tests/helpers.py
  rust/ch-core-py/tests/test_bindings.py
  rust/ch-core-py/tests/test_containers.py
  rust/ch-core-py/tests/test_insert_fastpaths.py
  rust/ch-core-py/tests/test_intake_exits.py
  rust/ch-core-py/tests/test_json.py
  rust/ch-core-py/tests/test_low_cardinality.py
  rust/ch-core-py/tests/test_scalars.py
  rust/ch-core-py/tests/test_strings_special.py
  rust/ch-core-py/tests/test_temporal.py
  rust/ch-core-py/tests/test_variant_dynamic.py
  rust/ch-core-py/tests/test_wide_int.py
Due: none

docs update to match new binding layout
  .agents/server-map.md
  rust/COMPLETENESS.md
  rust/README.md
Due: none

implement qbit support in binding
  clickhouse_connect/datatypes/vector.py
  rust/COMPLETENESS.md
  rust/README.md
  rust/ch-core-py/src/insert/containers.rs
  rust/ch-core-py/src/insert/fastpath.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/qbit.rs
  rust/ch-core-py/src/insert/variant.rs
  rust/ch-core-py/src/pyval/mod.rs
  rust/ch-core-py/src/pyval/qbit.rs
  rust/ch-core-py/src/pyval/scalar.rs
  rust/ch-core-py/tests/test_qbit.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_qbit_type.py
Due: pylint-clickhouse-connect, pylint-tests

rust codec correctness and performance fixes for release
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/rustnumpy.py
  clickhouse_connect/driver/streaming.py
  rust/Cargo.lock
  rust/ch-core-py/Cargo.toml
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/decoder.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/scalar.rs
  rust/ch-core-py/tests/test_insert_fastpaths.py
  rust/ch-core-py/tests/test_scalars.py
  rust/ch-core-py/tests/test_wide_int.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_rustcodec.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

review fixes for tz gating, buffered results, and enum nan handling
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/insert.py
  clickhouse_connect/driver/rustcodec.py
  clickhouse_connect/driver/rustnumpy.py
  clickhouse_connect/driver/streaming.py
  rust/Cargo.lock
  rust/ch-core-py/src/batch.rs
  rust/ch-core-py/src/insert/fastpath.rs
  rust/ch-core-py/src/insert/mod.rs
  rust/ch-core-py/src/insert/scalar.rs
  rust/ch-core-py/src/insert/special.rs
  rust/ch-core-py/tests/test_insert_fastpaths.py
  rust/ch-core-py/tests/test_scalars.py
  tests/integration_tests/test_rust_codec.py
  tests/unit_tests/test_driver/test_insert.py
  tests/unit_tests/test_driver/test_rustcodec.py
  tests/unit_tests/test_driver/test_rustnumpy.py
  tests/unit_tests/test_streaming_source.py
Due: pylint-clickhouse-connect, pylint-tests

fix(driver): preserve escaped single quote in nested Enum type names
  CHANGELOG.md
  clickhouse_connect/driver/parser.py
  tests/unit_tests/test_driver/test_parser.py
Due: pylint-clickhouse-connect, pylint-tests

fix None rendering as \N inside container bind parameters
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_params.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

Fix FixedString: zero-pad empty bytes on non-nullable columns
  CHANGELOG.md
  clickhouse_connect/datatypes/string.py
  tests/integration_tests/test_inserts.py
Due: pylint-clickhouse-connect, pylint-tests

update changelog
  CHANGELOG.md
Due: none

Fix DB-API Cursor.description to report precision and scale
  CHANGELOG.md
  clickhouse_connect/dbapi/cursor.py
  tests/integration_tests/test_dbapi.py
  tests/unit_tests/test_driver/test_cursor.py
Due: pylint-clickhouse-connect, pylint-tests
