Repository ClickHouse/clickhouse-connect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-clickhouse-connect, pylint-tests

pylint-clickhouse-connect:
  name: pylint (clickhouse_connect)
  entry: pylint
  language: system
  pass_filenames: true

pylint-tests:
  name: pylint (tests)
  entry: pylint
  language: system
  pass_filenames: true

docs: document concurrent client usage
  README.md
  examples/concurrency_examples.py
Due: none

Add AI_POLICY.md
  AI_POLICY.md
Due: none

Add AI_POLICY.md (#772)
  AI_POLICY.md
Due: none

bring docs local (#768)
  docs/additional-options.mdx
  docs/advanced-inserting.mdx
  docs/advanced-querying.mdx
  docs/advanced-usage.mdx
  docs/driver-api.mdx
  docs/index.mdx
  docs/navigation.json
  docs/sqlalchemy.mdx
Due: none

preserve datetime64 sub-second precision for server-side binds
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_params.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

shorten docstring
  clickhouse_connect/driver/binding.py
Due: pylint-clickhouse-connect

formatting
  tests/integration_tests/test_params.py
Due: pylint-tests

grammar
  clickhouse_connect/driver/binding.py
Due: pylint-clickhouse-connect

add alembic integration tag
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
Due: pylint-clickhouse-connect

add simple test
  tests/integration_tests/test_sqlalchemy/test_alembic.py
Due: pylint-tests

add alembic integration tag (#774)
  clickhouse_connect/cc_sqlalchemy/alembic/impl.py
  tests/integration_tests/test_sqlalchemy/test_alembic.py
Due: pylint-clickhouse-connect, pylint-tests

Joe/739 datetime64 parameter values silently truncated to seconds precision without 64 suffix (#773)
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_params.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

support callable returning the token
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

add simple tests
  tests/integration_tests/test_jwt_auth.py
Due: pylint-tests

Implement SQLAlchemy reflection for the cc_sqlalchemy dialect
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-clickhouse-connect, pylint-tests

Address review: drop PK reflection, set Array.as_tuple
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-clickhouse-connect, pylint-tests

Add test for user-declared primary key surviving reflection
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-tests

Add client-level HTTP headers
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Add docs verification workflow
  .github/workflows/docs_verify.yml
Due: none

fix bytes query parameters rendering as python repr
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_sqlalchemy/test_inserts.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

fix bytes query parameters rendering as python repr (#779)
  CHANGELOG.md
  clickhouse_connect/driver/binding.py
  tests/integration_tests/test_sqlalchemy/test_inserts.py
  tests/unit_tests/test_driver/test_params.py
Due: pylint-clickhouse-connect, pylint-tests

Add more test writing instructions to AGENTS.md
  AGENTS.md
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

Add header validation and parsing for client creation
  clickhouse_connect/driver/__init__.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

decode dsn creds
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  tests/unit_tests/test_driver/test_dsn.py
Due: pylint-clickhouse-connect, pylint-tests

decode dsn creds (#782)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  tests/unit_tests/test_driver/test_dsn.py
Due: pylint-clickhouse-connect, pylint-tests

Implement SQLAlchemy reflection for the cc_sqlalchemy dialect (#766)
  CHANGELOG.md
  clickhouse_connect/cc_sqlalchemy/datatypes/sqltypes.py
  clickhouse_connect/cc_sqlalchemy/dialect.py
  clickhouse_connect/cc_sqlalchemy/inspector.py
  tests/integration_tests/test_sqlalchemy/test_reflect.py
Due: pylint-clickhouse-connect, pylint-tests

Fix ping client headers
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/httpclient.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

Update clickhouse_connect/driver/httpclient.py
  clickhouse_connect/driver/httpclient.py
Due: pylint-clickhouse-connect

Update clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/asyncclient.py
Due: pylint-clickhouse-connect

add notes about concurrency
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
Due: pylint-clickhouse-connect

fix token auth collision through generic_args and add unit tests
  clickhouse_connect/driver/__init__.py
  tests/unit_tests/test_driver/test_token_provider.py
Due: pylint-clickhouse-connect, pylint-tests

Add support for refreshable JWT access tokens (#775)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_jwt_auth.py
  tests/unit_tests/test_driver/test_token_provider.py
Due: pylint-clickhouse-connect, pylint-tests

update changelog
  CHANGELOG.md
Due: none

Add client-level HTTP headers (#776)
  CHANGELOG.md
  clickhouse_connect/driver/__init__.py
  clickhouse_connect/driver/asyncclient.py
  clickhouse_connect/driver/httpclient.py
  tests/integration_tests/test_client.py
  tests/unit_tests/test_driver/test_httpclient.py
Due: pylint-clickhouse-connect, pylint-tests

v1.2.0 release prep
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

v1.2.0 release prep (#783)
  CHANGELOG.md
  clickhouse_connect/_version.py
Due: pylint-clickhouse-connect

avoid qemu in wheel builds (#784)
  .github/workflows/publish.yml
Due: none

add windows arm64 wheel builds
  .github/workflows/publish.yml
  CHANGELOG.md
Due: none

Path conditions:
  pylint-clickhouse-connect: any of: ^clickhouse_connect/.*\.py$ and \.py$
  pylint-tests: any of: ^tests/.*\.py$ and \.py$
